mixin footer()
	+b.FOOTER.footer.block-with-lazy
		.container
			+e.row.row 
				.col-xl-auto.col-sm
					+e.menu
						.row
							.col-xl-auto
								ul
									li: a(href="03-catalog.html").strong  Каталог 
									li: a(href="verstaki.html")  Верстаки слесарные
									li: a(href="catalog-stellaji.html")  Стеллажи
									li: a(href="shkafi.html")  Шкафы металлические
									li: a(href="tumbi.html")  Тумбы инструментальные
									li: a(href="mebel.html")  Мебель для гаража
									li: a(href="aksessuari.html")  Аксессуары
							.col-xl-auto 
								ul
									li: a(href="06-shiping.html")  Доставка и оплата
									li: a(href="07-contacts.html")  Контакты 
				.col-lg-auto.col-4-sm
					.row 
						.col-lg-auto.order-lg-last
							+contact-block-footer() 
						.col-lg-auto.d-none.d-sm-block
							+soc()
				.col-lg-auto.col-sm.order-sm-first
						+e.logo(href="index.html")
							img.res-i.lazy(src="index.html" data-src="img/@2x/logo.png", alt="")
						+e.logo-caption Производство и продажа металлической мебели с доставкой по всей России 
						.d-sm-none
							+soc()
						+e.secondary-menu
							ul
								li: a(href="privacy-policy.pdf" target="_blank") Политика конфиденциальности
								li: a(href="processing-conditions.pdf" target="_blank") Пользовательское соглашение
								li: a(href="sitemap.xml" target="_blank") Карта сайта
			+b.develop-block
				.row
					.col-sm-auto
						+e.text Создание и&nbsp;продвижение  сайта: #[a(href="https://studiobars.ru" target="_blank")  Студия &laquo;Барс&raquo;] 
					.col-sm-auto
						+b.develop-link(href="https://studiobars.ru" target="_blank")
							+e.panel
								img.img-1(src="img/svg/hand.svg", alt="")
								img.img-2(src="img/svg/logo-text.svg", alt="")
