mixin footer()
	+b.FOOTER.footer.block-with-lazy
		.container
			+e.row.row
				
				.col-xl-auto.col-sm
					+e.menu
						.row
							.col-xl-auto
								ul
									li: a(href="#").text-accent.strong  Каталог 
									li: a(href="#")  Верстаки слесарные
									li: a(href="#")  Стеллажи металлические
									li: a(href="#")  Шкафы металлические
									li: a(href="#")  Тумбы инструментальные
									li: a(href="#")  Мебель для гаража
									li: a(href="#")  Аксессуары
							.col-xl-auto 
								ul
									li: a(href="#")  Доставка и оплата
									li: a(href="07-contacts.html")  Контакты 
				.col-lg-auto.col-4-sm
					.row 
						.col-lg-auto.order-lg-last
							+contact-block-footer() 
						.col-lg-auto.d-none.d-sm-block
							+soc()
				.col-sm-auto.order-sm-first
						+e.logo(href="#")
							img.res-i.lazy(src="#" data-src="img/@2x/logo.png", alt="")
						+e.logo-caption Производство и продажа металлической мебели с доставкой по всей России 
						+soc()
						+e.secondary-menu
							ul
								li: a(href="#") Политика конфиденциальности
								li: a(href="#") Пользовательское соглашение
								//- li: a(href="#") Карта сайта
			+b.develop-block
				.row
					.col-sm-auto
						+e.text Создание и&nbsp;продвижение  сайта: #[a(href="#" target="_blank")  Студия &laquo;Барс&raquo;] 
					.col-sm-auto
						+b.develop-link(href="#" target="_blank")
							+e.panel
								img.img-1(src="img/svg/hand.svg", alt="")
								img.img-2(src="img/svg/logo-text.svg", alt="")