.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-cart {
	font-size:(22/10)*1rem;
	width:(24/22)*1em;
}
.icon-chat {
	font-size:(473/10)*1rem;
	width:(473/473)*1em;
}
.icon-check {
	font-size:(27/10)*1rem;
	width:(27/27)*1em;
}
.icon-check-mark {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-chevron-left {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-clock-circular-outline {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-credit-card {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-email {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-envelope-shape {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-fire {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-garanty {
	font-size:(457/10)*1rem;
	width:(457/457)*1em;
}
.icon-guarantee {
	font-size:(368.03/10)*1rem;
	width:(368.03/368.03)*1em;
}
.icon-maps-and-flags {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-refresh {
	font-size:(491.24/10)*1rem;
	width:(491.24/491.24)*1em;
}
.icon-safety-box {
	font-size:(189.6/10)*1rem;
	width:(189.6/189.6)*1em;
}
.icon-search {
	font-size:(53/10)*1rem;
	width:(53/53)*1em;
}
.icon-shipped {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-tel {
	font-size:(402/10)*1rem;
	width:(402/402)*1em;
}
.icon-telegram {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-telephone {
	font-size:(480.56/10)*1rem;
	width:(480.56/480.56)*1em;
}
.icon-vault {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-viber {
	font-size:(40/10)*1rem;
	width:(40/40)*1em;
}
.icon-whatsapp {
	font-size:(40/10)*1rem;
	width:(40/40)*1em;
}
.icon-zoom-in {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
