
mixin modal()  
	 
	.d-none
		+form-wrap("Заказать звонок")(id="modal-call" class="  modal-win modal-form" )  
			+e.top-title Укажите контактные данные   и&nbsp;удобное время для звонка
			//- +e.text.h6 Администратор Ольга позвонит вам прямо сейчас или в&nbsp;другое рабочее время:
			+e.text--sm Специалист компании &laquo;Виртуоз-групп&raquo;  позвонит вам прямо сейчас  или в&nbsp;другое рабочее время: мы&nbsp;работаем ежедневно с&nbsp;09:00 до&nbsp;18:00 по&nbsp;Мск
			input(type="hidden" name="formwithtime" value="formwithtime") 
			+form-body()
			
			+button("Заказать звонок")
			+polite
		// #modal-call
		
 
		+b.modal-one-click(id="modal-one-click" )

			//- +pic('modal-clean-img','jpg','','')
			+e.title Введите номер телефона
			+e.text Специалист перезвонит и оформит заказ.
			+form-wrap()
				input(type="hidden" name="SB3" value="SB3")
				+e.input-group
					+input("+7 (900) 444-44-44 ","tel")(required)
					+button('ok')
				+polite

		// #modal-pdf

		+b.modal-by(id="modal-by" )
				.col
					+e.head-text 
						+form-wrap("обсудить заказ")
							input(type="hidden" name="SB3" value="SB3")
							.title Для оформления заказа  оставьте&nbsp;ваши контакты
							+inputName()
							+form-modal() 
							input(type="hidden" name="stoyki")
							input(type="hidden" name="kranshtein")
							input(type="hidden" name="price")
							.comment
								+input("Текст сообщения","textarea",'Напишите комментарий, если хотите',"comment")
							+button('обсудить заказ')
							+polite

		// #modal-pdf
	
		// modal