
mixin modal()  
	 
	.d-none
		+form-wrap("Заказать звонок")(id="modal-call" class="  modal-win modal-form" )  
			+e.top-title Укажите контактные данные  
				span и&nbsp;удобное время для звонка
			//- +e.text.h6 Администратор Ольга позвонит вам прямо сейчас или в&nbsp;другое рабочее время:
			+e.text--sm Специалист компании &laquo;Виртуоз-групп&raquo; <br>  позвонит вам прямо сейчас  <br>или в&nbsp;другое рабочее время: <br> мы&nbsp;работаем ежедневно с&nbsp;09:00 до&nbsp;18:00 по&nbsp;Мск
			input(type="hidden" name="formwithtime" value="formwithtime") 
			+form-body()
			
			+button("Заказать звонок")
			+polite
		// #modal-call
		
 
		+b.modal-one-click(id="modal-one-click" )

			//- +pic('modal-clean-img','jpg','','')
			+e.title Введите номер телефона
			+e.text Специалист перезвонит и оформит заказ.
			+form-wrap()
				input(type="hidden" name="SB3" value="SB3")
				+e.input-group
					+input("+7 (900) 444-44-44 ","tel")(required)
					+button('ok')
				+polite

		// #modal-pdf

		+b.modal-by(id="modal-by" )
				.col
					+e.head-text 
						+form-wrap("обсудить заказ")
							input(type="hidden" name="SB3" value="SB3")
							.title Для оформления заказа  оставьте&nbsp;ваши контакты
							+inputName()
							+form-modal() 
							input(type="hidden" name="stoyki")
							input(type="hidden" name="kranshtein")
							input(type="hidden" name="price")
							.comment
								+input("Текст сообщения","textarea",'Напишите комментарий, если хотите',"comment")
							+button('обсудить заказ')
							+polite

		// обозначения на верстаке

		// Резиновый коврик
		+b.modal-header-block.modal-mat(id="modal-mat").modal-white-close
			img.res-i(src="img/@2x/modal-mat.jpg" alt="")
			h4 Коврик резиновый противоскользящий.
			p Защищает от&nbsp;царапин и&nbsp;дефектов, продлевает срок службы верстака

		// Направляющие плавного скольжения
		+b.modal-header-block.modal-guides(id="modal-guides").modal-white-close
			img.res-i(src="img/@2x/modal-guides.jpg" alt="")
			h4 Выдвижные ящики оснащены направляющими плавного скольжения  с&nbsp;системой доводчиков.
			p Чем больше нагрузка на&nbsp;ящик, тем плавнее работают направляющие.

		// Экран
		+b.modal-header-block.modal-display(id="modal-display").modal-white-close
			img.res-i(src="img/@2x/modal-display.jpg" alt="")
			h4 Каждый верстак оснащен перфорированным экраном,
			p для размещения дополнительных запчастей, инструментов, документов

		// Аксессуары
		+b.modal-header-block.modal-accessories(id="modal-accessories").modal-white-close
			img.res-i(src="img/@2x/modal-accessories.jpg" alt="")
			h4 Каждый верстак оснащен перфорированным экраном,
			p Коврик резиновый, экран, держатель для свёрл, полку малую, полку большую, контейнер для мелочей, карман для чертежей, держатель отвёрток и&nbsp;ключей, крючок для инструмента
		// Аксессуары
		+b.modal-header-block--accessories(id="modal-accessories").modal-white-close
			img.res-i(src="img/@2x/modal-accessories.jpg" alt="")
			h4 Каждый верстак оснащен перфорированным экраном,
			p Коврик резиновый, экран, держатель для свёрл, полку малую, полку большую, контейнер для мелочей, карман для чертежей, держатель отвёрток и&nbsp;ключей, крючок для инструмента

 
		// Столешница
		+b.modal-header-block.modal-accessories(id="countertop").modal-white-close
			img.res-i(src="img/@2x/modal-accessories.jpg" alt="")
			h4 Каждый верстак оснащен перфорированным экраном,
			p Коврик резиновый, экран, держатель для свёрл, полку малую, полку большую, контейнер для мелочей, карман для чертежей, держатель отвёрток и&nbsp;ключей, крючок для инструмента

 
	
		// modal