
mixin modal()  
	 
	.d-none
		+form-wrap()(id="modal-call" class="  modal-win modal-form" ) 
			+e.top-title Укажите контактные данные   и&nbsp;удобное время для звонка
			//- +e.text.h6 Администратор Ольга позвонит вам прямо сейчас или в&nbsp;другое рабочее время:
			+e.text--sm Менеджер компании позвонит вам прямо сейчасили в&nbsp;другое рабочее время: мы&nbsp;работаем пн-пт с&nbsp;10:00 до&nbsp;18:00
			input(type="hidden" name="formwithtime" value="formwithtime") 
			+form-body()
			
			+e.btn(type='submit') Заказать звонок
			+polite
		// #modal-call
		
	
		+b.modal-win--lg(id="modal-pdf" class="text-center" )
			//- +pic('modal-clean-img','jpg','','')
			+e.title Чтобы посмотреть варианты  стеллажей, скачайте каталог
			.text-center
				img.res-i(src="img/@2x/pdf-doc.png", alt="")
			+e.btn(href="#") Скачать каталог
			+e.small Файл PDF .5.2 Mb откроется на вашем устройстве
			+e.text Модель стеллажа в&nbsp;наличии&nbsp;&mdash;  доставим&nbsp;не&nbsp;позже следующего дня.  
				br
				| Нет в&nbsp;наличии&nbsp;&mdash; доставим в&nbsp;течение 2-3&nbsp;дней.
			+e.foot 
				+e.foot-text Для заказа звоните:
				+e.tel(href="tel:+7(3519)22-00-22") +7 (3519) 22-00-22
		// #modal-pdf

	
		// modal