mixin s-prod-head()
	- let src= 'img/@2x/prod-1.jpg'
	mixin img()
		img.res-i(src="#" data-lazy= src, alt="")
	// start s-prod-head
	+b.s-prod-head&attributes(attributes)
		.container
			+b.section-title.text-center.d-lg-none
				h2 Верстак слесарный<br>ВМ_1214
			.row
				.col-lg-8
					.row
						.col-md-6
							+b.s-prod-head-images
								+e.inner
									+e.slider--lg.--lg-js
										- for (var x = 0; x < 5; x++)
											+e.slide--lg
												a(href= src data-fancybox="prod-gal")
													+img()
								+e.slider--sm.--sm-js
									- for (var x = 0; x < 5; x++)
										+e.slide
											+e.img-wrap
												+img()
						.col-md-6
							+e.content
								h2.d-none.d-lg-block Верстак слесарный<br>ВМ_1214
								+e.descr 
									.mobile-up
										table
											tr
												td Размеры <span>(ШхВхГ):</span>
												td 1637.6х1383х620 мм.
											tr
												td Цвет:
												td на выбор по системе RAL
									.mobile-down.order-lg-first 41 500 руб.
								+e.form-wrap
									+btn-accent('купить в 1 клик', '#modal-one-click')(class="link-modal" data-order=`Быстрый заказ- ${title}`)
									+e.btn.btn-outline-brown.link-modal(  data-src="#modal-by" href="javascript:;" data-order=`Заказ- ${title}`) заказать
					+e.equipment
						h3 Комплектация
						ul
							li Выдвижной ящик с&nbsp;установкой на&nbsp;направляющие плавного скольжения&nbsp;&mdash; 1&nbsp;шт.
							li Полка с&nbsp;регулировкой по&nbsp;высоте в&nbsp;трех положениях&nbsp;&mdash; 1&nbsp;шт.
							li Дверь с&nbsp;петлями плавного закрывания&nbsp;&mdash; 1&nbsp;шт.
							li Дополнительная полка в&nbsp;ногах у&nbsp;сидящего&nbsp;&mdash; 1&nbsp;шт.
				.col-lg-4.shiping-time
					+e.sales.d-none.d-lg-block
						+icon('workbench')
						span В этом месяце продано<br>36 верстаков
					+b.s-prod-head-sidebar
						//- +e.price 
						ul
							li
								+icon('check-mark')
								strong Доставка по Москве:
								| сегодня-завтра
							
							li
								+icon('check-mark')
								strong Доставка по России
								| от 2 до 5 дней
							
							li
								+icon('check-mark')
								strong Гарантия
								| 12 месяцев
							
							li
								+icon('check-mark')
								strong Изготовление на заказ:
								| по вашим размерам <br>от 3 до 5 дней
						//- +e.btn(type="button")
						//- 	+icon('cart')
						//- 	| В корзину
					//- +e.footer-text *При оформлении заказа  уточняйте&nbsp;цену по&nbsp;т: #[a(href="tel:8(3519)22-00-22") 8 (3519) 22-00-22]
	// end s-prod-head




mixin s-prod-head-13()
	- let src= 'img/@2x/prod-1.jpg'
	mixin img()
		img.res-i(src="#" data-lazy= src, alt="")
	// start s-prod-head
	+b.s-prod-head.s-prod-racks&attributes(attributes)
		.container
			+b.section-title.text-center.d-lg-none
				h2 Стойка вертикальная/<br>кронштейн
			.row
				.col-lg-8
					.row
						.col-md-6
							+b.s-prod-head-images
								+e.inner
									+e.slider--lg.--lg-js
										- for (var x = 0; x < 5; x++)
											+e.slide--lg
												a(href= src data-fancybox="prod-gal")
													+img()
								+e.slider--sm.--sm-js
									- for (var x = 0; x < 5; x++)
										+e.slide
											+e.img-wrap
												+img()
						.col-md-6
							+e.content
								h2.d-none.d-lg-block Стойка вертикальная/<br>кронштейн
								+e.descr 
									.mobile-up
										table
											tr
												td Размеры <br>(ШхВхГ):
												td 2480х130х50 мм. / <br>511.56 мм.
											tr
												td Цвет:
												td на выбор по системе RAL
									.mobile-down.order-lg-first 5 075 руб. / 870 руб.
									+e.equipment
										h3 Комплектация
										ul
											li Стойка вертикальная — 1 шт.
											li Кронштейн металлический — 1 шт.


					+b.s-prod-head-calculate
						h3 Рассчитайте стоимость&nbsp;стеллажа
						+b.form-wrap
							.row
								.col-md-6
									+select("Сколько нужно вертикальных стоек?", "1шт","2шт","3шт","4шт","5шт","6шт","7шт","8шт","9шт","10шт","12шт","13шт","14шт","15шт","16шт","17шт","18шт","19шт","20шт")(id="thickness")
								.col-md-6
									+select("Сколько нужно кронштейнов?", "2шт","4шт","6шт","8шт","10шт","12шт","14шт","16шт","18шт","20шт","22шт","24шт","26шт","28шт","30шт","32шт","34шт","36шт","38шт","40шт","42шт","44шт","46шт","48шт","50шт","52шт","54шт","56шт","58шт","60шт","62шт","64шт","68шт","70шт","72шт","74шт","76шт","78шт","80шт","80шт","84шт","86шт","88шт","90шт","92шт","94шт","96шт","98шт","100шт")(id="thickness")

								+e.cost.col-md-6.align-self-center
									h3 Стоимость: 
										span 0 рублей
								.col-md-6
									+btn-accent('заказать', '#modal-by')(class="link-modal" data-order=`Быстрый заказ- ${title}`) 

				.col-lg-4.shiping-time
					+e.sales.d-none.d-lg-block
						+icon('rack')
						span В этом месяце продано<br>38 стеллажей
					+b.s-prod-head-sidebar
						//- +e.price 
						ul
							li
								+icon('check-mark')
								strong Доставка по Москве:
								| сегодня-завтра
							
							li
								+icon('check-mark')
								strong Доставка по России
								| от 2 до 5 дней
							
							li
								+icon('check-mark')
								strong Гарантия
								| 12 месяцев
							
							li
								+icon('check-mark')
								strong Изготовление на заказ:
								| по вашим размерам <br>от 3 до 5 дней
						//- +e.btn(type="button")
						//- 	+icon('cart')
						//- 	| В корзину
					//- +e.footer-text *При оформлении заказа  уточняйте&nbsp;цену по&nbsp;т: #[a(href="tel:8(3519)22-00-22") 8 (3519) 22-00-22]
	// end s-prod-head
