mixin s-our()
	// start s-our
	+b.SECTION.s-our.section#s-our&attributes(attributes)
		.container
			.row
				.col-xl-6.col-lg-7
					+b.section-title
						h2 #[strong С&nbsp;нашими верстаками]  вы начнете работать быстрее, обслужите больше клиентов #[strong и&nbsp;заработаете больше]
						p В&nbsp;верстаках все инструменты распределены по&nbsp;назначению и&nbsp;всегда под рукой&nbsp;&mdash; не&nbsp;нужно тратить время на&nbsp;поиски. При этом они не&nbsp;теряются. Что позволяет сократить затраты на&nbsp;расходные материалы до&nbsp;40%.

						p Мы&nbsp;проверили это на&nbsp;собственном производстве. Раньше тележку собирали за&nbsp;два, а&nbsp;то&nbsp;и&nbsp;три дня, а&nbsp;какой-нибудь ключ искали аж&nbsp;15&nbsp;минут. После установки верстаков тележку собираем за&nbsp;день, а&nbsp;потери инструментов практически свели на&nbsp;нет. 
				.col.text-lg-left.text-center.order-lg-first.align-self-end
					+girl()
					
			+form-wrap("Обсудить задачу")
				input(type="hidden" name="SB5" value="SB5")
				
				.h3 #[strong Давайте обсудим вашу задачу.] Мы&nbsp;подскажем, какие верстаки вам подойдут и&nbsp;подберем оптимальный вариант по&nbsp;размеру
				+e.input-group
					+input("+7 (900) 444-44-44 ","tel")(required)
					+button('обсудить задачу')
				+polite
	// end s-our