mixin s-look()
	// start s-look
	+b.SECTION.s-look.section#s-look&attributes(attributes)
		.container
			.row
				.col-xl-6.col-lg-7
					+b.section-title
						h2 #[strong Предпочитаете смотреть товар вживую,] а&nbsp;потом покупать?
						p Приезжайте в&nbsp;наш шоурум: ответим на&nbsp;все вопросы, покажем верстаки, подберем именно&nbsp;то, что вам нужно
					+e.btn-wrap.d-none.d-lg-block
						+btn-accent('Наши контакты','#')
				.col.text-lg-left.text-center
					+pic2("look")
			+e.btn-wrap.d-lg-none.text-center
				+btn-accent('Наши контакты','#')
	// end s-look