extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug 
include ../blocks/s-catalog/_s-catalog.pug
include ../blocks/s-price/_s-price.pug
include ../blocks/s-advantages/_s-advantages.pug
include ../blocks/s-look/_s-look.pug
include ../blocks/s-our/_s-our.pug
include ../blocks/s-shipping/_s-shipping.pug
include ../blocks/s-prod-head/_s-prod-head.pug
include ../blocks/s-other-products/_s-other-products.pug
include ../blocks/s-what-workbenches/_s-what-workbenches.pug

block variables
	- let  mainPage= null
block title
	- let  title= 'Аксессуары для металлической мебели'
	title= title
block description 
	meta(name="description", content= "Аксессуары для металлической мебели" )

block keywords
	meta(name="Keywords", content= "Аксессуары для металлической мебели, контейнер для маленьких предметов, полка навесная малая, держатель молота и плоскогубцев, дрежатель полотенец, держатель сверел, держатель отверток и ключей, карман для бумаг" )
block pagecontent 
	//- +mob-mnu()
	+header()
		+top-line()
		+top-nav()
	.container 
		nav(aria-label='breadcrumb')
			ol.breadcrumb(itemscope='itemscope', itemtype='http://schema.org/BreadcrumbList')
				li.breadcrumb-item(itemprop='itemListElement', itemscope='itemscope', itemtype='http://schema.org/ListItem')
					a(href='/', itemprop='item')
						span(itemprop='name') Главная
						meta(itemprop='position', content='1')
				
				li.breadcrumb-item(itemprop='itemListElement', itemscope='itemscope', itemtype='http://schema.org/ListItem')
					a(href='/03-catalog.html', itemprop='item')
						span(itemprop='name') Каталог
						meta(itemprop='position', content='2') 
				li.breadcrumb-item.active(itemprop='itemListElement', itemscope='itemscope', itemtype='http://schema.org/ListItem')
					a(href='#', itemprop='item')
						span(itemprop='name')= title
						meta(itemprop='position', content='3')
	+s-catalog-aksessuari()(class="pt-0")
		+b.section-title.text-center
			h1 Аксессуары
	+s-other-products-aksessuari.section-border
	+s-form-aksessuari
	//-+s-what-aksessuari
	+footer()