extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug 
include ../blocks/s-catalog/_s-catalog.pug
include ../blocks/s-price/_s-price.pug
include ../blocks/s-advantages/_s-advantages.pug
include ../blocks/s-look/_s-look.pug
include ../blocks/s-our/_s-our.pug
include ../blocks/s-shipping/_s-shipping.pug


block variables
	- let  mainPage= null
block title
	- let  title= 'Верстаки слесарные металлические напрямую от производителя'
	title= title

block description 
	meta(name="description", content= "Верстаки слесарные металлические напрямую от производителя. Для автосервисов, заводов, производственных компаний и частных лиц." )

block keywords
	meta(name="Keywords", content= "верстак +для слесарных работ, верстак слесарный, верстак слесарный +для гаража, верстак слесарный авито, верстак слесарный вс,верстак слесарный всд, верстак слесарный гефест, верстак слесарный двухтумбовый, верстак слесарный металлический, верстак слесарный металлический купить, верстак слесарный однотумбовый, верстак слесарный размеры, верстак слесарный универсальный, верстак слесарный цена, верстаки слесарные металлические +для гаража, купить верстак слесарный, слесарные верстаки москва, слесарный стол верстак")
block pagecontent 
	+mob-mnu()
	+header()
		+top-line()
		+top-nav()
		+header-block()
	+s-advantages

	+s-catalog()(class="section-border ")
		+b.section-title.text-center
			h2 #[strong Самые популярные модели] слесарных верстаков
	//- +s-price
	+s-form()(class="section-border ")
	+s-look
	+s-our
	+s-shipping
	+footer()