extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug 
include ../blocks/s-catalog/_s-catalog.pug
include ../blocks/s-price/_s-price.pug
include ../blocks/s-advantages/_s-advantages.pug
include ../blocks/s-look/_s-look.pug
include ../blocks/s-our/_s-our.pug
include ../blocks/s-shipping/_s-shipping.pug
include ../blocks/s-prod-head/_s-prod-head.pug
include ../blocks/s-other-products/_s-other-products.pug
include ../blocks/s-what-workbenches/_s-what-workbenches.pug

block variables
	- let  mainPage= null
block title
	- let  title= 'Тумбы инструментальные металлические передвижные'
	title= title
block description 
	meta(name="description", content= "Тумбы инструментальные металлические на колесах передвижная с выдвижными ящиками" )

block keywords
	meta(name="Keywords", content= "инструментальная тумба +на колесах, инструментальные тумбы металлические +для инструментов, тумба инструмент, тумба инструментальная, тумба инструментальная 5 ящиков, тумба инструментальная купить, тумба инструментальная металлическая, тумба инструментальная передвижная, тумба инструментальная цена" )
block pagecontent 
	//- +mob-mnu()
	+header()
		+top-line()
		+top-nav()
	.container
		+breadcrumb('Главная', 'Каталог',  title)
 
	+s-catalog-tumbi()(class="pt-0")
		+b.section-title.text-center
			h1 Тумбы инструментальные
	+s-other-products-tumbi.section-border
	+s-form-tumbi
	//- под сео 
	+s-what-tumbi
	+footer()