extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug 
include ../blocks/s-catalog/_s-catalog.pug
include ../blocks/s-price/_s-price.pug
include ../blocks/s-advantages/_s-advantages.pug
include ../blocks/s-look/_s-look.pug
include ../blocks/s-our/_s-our.pug
include ../blocks/s-shipping/_s-shipping.pug
include ../blocks/s-prod-head/_s-prod-head.pug
include ../blocks/s-other-products/_s-other-products.pug
include ../blocks/s-what-workbenches/_s-what-workbenches.pug

block variables
	- let  mainPage= null
block title
	- let  title= 'Верстаки слесарные металлические '
	title= title
block description 
	meta(name="description", content= "Верстаки слесарные металлические для автосервисов, заводов, гаражей" )

block keywords
	meta(name="Keywords", content= "верстак слесарный +с ящиками, верстак слесарный металлический +для гаража, верстак слесарный +с тумбой, верстак слесарный верстакофф, верстак слесарный всд 01, верстак слесарный всд 02, верстак слесарный екатеринбург, верстак слесарный купить +в спб, верстаки слесарные вп, верстаки слесарные металлические +для гаража купить, верстаки слесарные металлические спб, купить верстак слесарный екатеринбург, слесарные верстаки profi" )
block pagecontent 
	//- +mob-mnu()
	+header()
		+top-line()
		+top-nav()
	.container
		nav(aria-label='breadcrumb')
			ol.breadcrumb(itemscope='itemscope', itemtype='http://schema.org/BreadcrumbList')
				li.breadcrumb-item(itemprop='itemListElement', itemscope='itemscope', itemtype='http://schema.org/ListItem')
					a(href='/', itemprop='item')
						span(itemprop='name') Главная
						meta(itemprop='position', content='1')
				
				li.breadcrumb-item(itemprop='itemListElement', itemscope='itemscope', itemtype='http://schema.org/ListItem')
					a(href='/03-catalog.html', itemprop='item')
						span(itemprop='name') Каталог
						meta(itemprop='position', content='2') 
				li.breadcrumb-item.active(itemprop='itemListElement', itemscope='itemscope', itemtype='http://schema.org/ListItem')
					a(href='#', itemprop='item')
						span(itemprop='name')= title
						meta(itemprop='position', content='3')
 
	+s-catalog-4()(class="pt-0")
		+b.section-title.text-center
			h1 Верстаки слесарные
	+s-other-products.section-border
	+s-form05
	//-+s-what-workbenches
	+footer()