mixin s-what-workbenches()
	// start s-what-workbenches
	+b.SECTION.s-what-workbenches.section#s-what-workbenches&attributes(attributes)
		.container
			+b.section-title.text-center
				h5 Для чего используются верстаки слесарные:
			.row.justify-content-center
				.col-lg-4
					p В&nbsp;верстаках все инструменты распределены по&nbsp;назначению и&nbsp;всегда под рукой&nbsp;&mdash; не&nbsp;нужно тратить время на&nbsp;поиски. При этом они не&nbsp;теряются. Что позволяет сократить затраты на&nbsp;расходные материалы до&nbsp;40%.
					p Мы&nbsp;проверили это на&nbsp;собственном производстве. Раньше тележку собирали за&nbsp;два, а&nbsp;то&nbsp;и&nbsp;три дня,
				.col-lg-4
					p.d-non.d-md-block В&nbsp;верстаках все инструменты распределены по&nbsp;назначению и&nbsp;всегда под рукой&nbsp;&mdash; не&nbsp;нужно тратить время на&nbsp;поиски. При этом они не&nbsp;теряются. Что позволяет сократить затраты на&nbsp;расходные материалы до&nbsp;40%.
					a(href="#") ЧИТАТЬ ДАЛЬШЕ

	// end s-what-workbenches