mixin s-what-workbenches()
	// start s-what-workbenches
	+b.SECTION.s-what-workbenches.section#s-what-workbenches&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Для чего используются верстаки слесарные:
			+e.inner 
				if block
					block
				else
					p В&nbsp;верстаках все инструменты распределены по&nbsp;назначению и&nbsp;всегда под рукой&nbsp;&mdash; не&nbsp;нужно тратить время на&nbsp;поиски. При этом они не&nbsp;теряются. Что позволяет сократить затраты на&nbsp;расходные материалы до&nbsp;40%. 
					p Мы&nbsp;проверили это на&nbsp;собственном производстве. Раньше тележку собирали за&nbsp;два, а&nbsp;то&nbsp;и&nbsp;три дня,  а&nbsp;какой-нибудь ключ искали аж&nbsp;15&nbsp;минут. После установки верстаков тележку собираем за&nbsp;день, а&nbsp;потери инструментов практически свели на&nbsp;нет. 
					+e.hidden-block
						p В&nbsp;верстаках все инструменты распределены по&nbsp;назначению и&nbsp;всегда под рукой&nbsp;&mdash; не&nbsp;нужно тратить время на&nbsp;поиски. При этом они не&nbsp;теряются. Что позволяет сократить затраты на&nbsp;расходные материалы до&nbsp;40%.
						p Мы&nbsp;проверили это на&nbsp;собственном производстве. Раньше тележку собирали за&nbsp;два, а&nbsp;то&nbsp;и&nbsp;три дня,  а&nbsp;какой-нибудь ключ искали аж&nbsp;15&nbsp;минут. После установки верстаков тележку собираем за&nbsp;день, а&nbsp;потери инструментов практически свели на&nbsp;нет. 
						p В&nbsp;верстаках все инструменты распределены по&nbsp;назначению и&nbsp;всегда под рукой&nbsp;&mdash; не&nbsp;нужно тратить время на&nbsp;поиски. При этом они не&nbsp;теряются. Что позволяет сократить затраты на&nbsp;расходные материалы до&nbsp;40%.
				a.link-more-js(href="#") ЧИТАТЬ ДАЛЬШЕ

	// end s-what-workbenches

mixin s-what-1211()
	// start s-what-workbenches
	+b.SECTION.s-what-workbenches.section#s-what-workbenches&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Для чего используются 1211 под СЕО:
			+e.inner 
				if block
					block
				else
					p В&nbsp;верстаках все инструменты распределены по&nbsp;назначению и&nbsp;всегда под рукой&nbsp;&mdash; не&nbsp;нужно тратить время на&nbsp;поиски. При этом они не&nbsp;теряются. Что позволяет сократить затраты на&nbsp;расходные материалы до&nbsp;40%. 
					p Мы&nbsp;проверили это на&nbsp;собственном производстве. Раньше тележку собирали за&nbsp;два, а&nbsp;то&nbsp;и&nbsp;три дня,  а&nbsp;какой-нибудь ключ искали аж&nbsp;15&nbsp;минут. После установки верстаков тележку собираем за&nbsp;день, а&nbsp;потери инструментов практически свели на&nbsp;нет. 
					+e.hidden-block
						p В&nbsp;верстаках все инструменты распределены по&nbsp;назначению и&nbsp;всегда под рукой&nbsp;&mdash; не&nbsp;нужно тратить время на&nbsp;поиски. При этом они не&nbsp;теряются. Что позволяет сократить затраты на&nbsp;расходные материалы до&nbsp;40%.
						p Мы&nbsp;проверили это на&nbsp;собственном производстве. Раньше тележку собирали за&nbsp;два, а&nbsp;то&nbsp;и&nbsp;три дня,  а&nbsp;какой-нибудь ключ искали аж&nbsp;15&nbsp;минут. После установки верстаков тележку собираем за&nbsp;день, а&nbsp;потери инструментов практически свели на&nbsp;нет. 
						p В&nbsp;верстаках все инструменты распределены по&nbsp;назначению и&nbsp;всегда под рукой&nbsp;&mdash; не&nbsp;нужно тратить время на&nbsp;поиски. При этом они не&nbsp;теряются. Что позволяет сократить затраты на&nbsp;расходные материалы до&nbsp;40%.
				a.link-more-js(href="#") ЧИТАТЬ ДАЛЬШЕ

	// end s-what-1211

//- Стеллажи 
mixin s-what-stellaji()
	// start s-what-stellaji
	+b.SECTION.s-what-workbenches.section#s-what-workbenches&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Для чего используются стеллажи по СЕО:
			+e.inner 
				if block
					block
				else
					p В&nbsp;верстаках все инструменты распределены по&nbsp;назначению и&nbsp;всегда под рукой&nbsp;&mdash; не&nbsp;нужно тратить время на&nbsp;поиски. При этом они не&nbsp;теряются. Что позволяет сократить затраты на&nbsp;расходные материалы до&nbsp;40%. 
					p Мы&nbsp;проверили это на&nbsp;собственном производстве. Раньше тележку собирали за&nbsp;два, а&nbsp;то&nbsp;и&nbsp;три дня,  а&nbsp;какой-нибудь ключ искали аж&nbsp;15&nbsp;минут. После установки верстаков тележку собираем за&nbsp;день, а&nbsp;потери инструментов практически свели на&nbsp;нет. 
					+e.hidden-block
						p В&nbsp;верстаках все инструменты распределены по&nbsp;назначению и&nbsp;всегда под рукой&nbsp;&mdash; не&nbsp;нужно тратить время на&nbsp;поиски. При этом они не&nbsp;теряются. Что позволяет сократить затраты на&nbsp;расходные материалы до&nbsp;40%.
						p Мы&nbsp;проверили это на&nbsp;собственном производстве. Раньше тележку собирали за&nbsp;два, а&nbsp;то&nbsp;и&nbsp;три дня,  а&nbsp;какой-нибудь ключ искали аж&nbsp;15&nbsp;минут. После установки верстаков тележку собираем за&nbsp;день, а&nbsp;потери инструментов практически свели на&nbsp;нет. 
						p В&nbsp;верстаках все инструменты распределены по&nbsp;назначению и&nbsp;всегда под рукой&nbsp;&mdash; не&nbsp;нужно тратить время на&nbsp;поиски. При этом они не&nbsp;теряются. Что позволяет сократить затраты на&nbsp;расходные материалы до&nbsp;40%.
				a.link-more-js(href="#") ЧИТАТЬ ДАЛЬШЕ

	// end s-what-stellaji

//- Стеллажи 
mixin s-what-stellaji()
	// start s-what-stellaji
	+b.SECTION.s-what-workbenches.section#s-what-workbenches&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Для чего используются стеллажи по СЕО:
			+e.inner 
				if block
					block
				else
					p В&nbsp;верстаках все инструменты распределены по&nbsp;назначению и&nbsp;всегда под рукой&nbsp;&mdash; не&nbsp;нужно тратить время на&nbsp;поиски. При этом они не&nbsp;теряются. Что позволяет сократить затраты на&nbsp;расходные материалы до&nbsp;40%. 
					p Мы&nbsp;проверили это на&nbsp;собственном производстве. Раньше тележку собирали за&nbsp;два, а&nbsp;то&nbsp;и&nbsp;три дня,  а&nbsp;какой-нибудь ключ искали аж&nbsp;15&nbsp;минут. После установки верстаков тележку собираем за&nbsp;день, а&nbsp;потери инструментов практически свели на&nbsp;нет. 
					+e.hidden-block
						p В&nbsp;верстаках все инструменты распределены по&nbsp;назначению и&nbsp;всегда под рукой&nbsp;&mdash; не&nbsp;нужно тратить время на&nbsp;поиски. При этом они не&nbsp;теряются. Что позволяет сократить затраты на&nbsp;расходные материалы до&nbsp;40%.
						p Мы&nbsp;проверили это на&nbsp;собственном производстве. Раньше тележку собирали за&nbsp;два, а&nbsp;то&nbsp;и&nbsp;три дня,  а&nbsp;какой-нибудь ключ искали аж&nbsp;15&nbsp;минут. После установки верстаков тележку собираем за&nbsp;день, а&nbsp;потери инструментов практически свели на&nbsp;нет. 
						p В&nbsp;верстаках все инструменты распределены по&nbsp;назначению и&nbsp;всегда под рукой&nbsp;&mdash; не&nbsp;нужно тратить время на&nbsp;поиски. При этом они не&nbsp;теряются. Что позволяет сократить затраты на&nbsp;расходные материалы до&nbsp;40%.
				a.link-more-js(href="#") ЧИТАТЬ ДАЛЬШЕ

	// end s-what-stellaji

//- Шкафы  
mixin s-what-shkafi()
	// start s-what-shkafi
	+b.SECTION.s-what-workbenches.section#s-what-workbenches&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Для чего используются Шкафы под СЕО:
			+e.inner 
				if block
					block
				else
					p В&nbsp;верстаках все инструменты распределены по&nbsp;назначению и&nbsp;всегда под рукой&nbsp;&mdash; не&nbsp;нужно тратить время на&nbsp;поиски. При этом они не&nbsp;теряются. Что позволяет сократить затраты на&nbsp;расходные материалы до&nbsp;40%. 
					p Мы&nbsp;проверили это на&nbsp;собственном производстве. Раньше тележку собирали за&nbsp;два, а&nbsp;то&nbsp;и&nbsp;три дня,  а&nbsp;какой-нибудь ключ искали аж&nbsp;15&nbsp;минут. После установки верстаков тележку собираем за&nbsp;день, а&nbsp;потери инструментов практически свели на&nbsp;нет. 
					+e.hidden-block
						p В&nbsp;верстаках все инструменты распределены по&nbsp;назначению и&nbsp;всегда под рукой&nbsp;&mdash; не&nbsp;нужно тратить время на&nbsp;поиски. При этом они не&nbsp;теряются. Что позволяет сократить затраты на&nbsp;расходные материалы до&nbsp;40%.
						p Мы&nbsp;проверили это на&nbsp;собственном производстве. Раньше тележку собирали за&nbsp;два, а&nbsp;то&nbsp;и&nbsp;три дня,  а&nbsp;какой-нибудь ключ искали аж&nbsp;15&nbsp;минут. После установки верстаков тележку собираем за&nbsp;день, а&nbsp;потери инструментов практически свели на&nbsp;нет. 
						p В&nbsp;верстаках все инструменты распределены по&nbsp;назначению и&nbsp;всегда под рукой&nbsp;&mdash; не&nbsp;нужно тратить время на&nbsp;поиски. При этом они не&nbsp;теряются. Что позволяет сократить затраты на&nbsp;расходные материалы до&nbsp;40%.
				a.link-more-js(href="#") ЧИТАТЬ ДАЛЬШЕ

	// end s-what-shkafi

//- Тумбы  
mixin s-what-tumbi()
	// start s-what-tumbi
	+b.SECTION.s-what-workbenches.section#s-what-workbenches&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Для чего используются Тумбы под СЕО:
			+e.inner 
				if block
					block
				else
					p В&nbsp;верстаках все инструменты распределены по&nbsp;назначению и&nbsp;всегда под рукой&nbsp;&mdash; не&nbsp;нужно тратить время на&nbsp;поиски. При этом они не&nbsp;теряются. Что позволяет сократить затраты на&nbsp;расходные материалы до&nbsp;40%. 
					p Мы&nbsp;проверили это на&nbsp;собственном производстве. Раньше тележку собирали за&nbsp;два, а&nbsp;то&nbsp;и&nbsp;три дня,  а&nbsp;какой-нибудь ключ искали аж&nbsp;15&nbsp;минут. После установки верстаков тележку собираем за&nbsp;день, а&nbsp;потери инструментов практически свели на&nbsp;нет. 
					+e.hidden-block
						p В&nbsp;верстаках все инструменты распределены по&nbsp;назначению и&nbsp;всегда под рукой&nbsp;&mdash; не&nbsp;нужно тратить время на&nbsp;поиски. При этом они не&nbsp;теряются. Что позволяет сократить затраты на&nbsp;расходные материалы до&nbsp;40%.
						p Мы&nbsp;проверили это на&nbsp;собственном производстве. Раньше тележку собирали за&nbsp;два, а&nbsp;то&nbsp;и&nbsp;три дня,  а&nbsp;какой-нибудь ключ искали аж&nbsp;15&nbsp;минут. После установки верстаков тележку собираем за&nbsp;день, а&nbsp;потери инструментов практически свели на&nbsp;нет. 
						p В&nbsp;верстаках все инструменты распределены по&nbsp;назначению и&nbsp;всегда под рукой&nbsp;&mdash; не&nbsp;нужно тратить время на&nbsp;поиски. При этом они не&nbsp;теряются. Что позволяет сократить затраты на&nbsp;расходные материалы до&nbsp;40%.
				a.link-more-js(href="#") ЧИТАТЬ ДАЛЬШЕ

	// end s-what-tumbi

//- Мебель   
mixin s-what-mebel()
	// start s-what-mebel
	+b.SECTION.s-what-workbenches.section#s-what-workbenches&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Для чего используются mebel под СЕО:
			+e.inner 
				if block
					block
				else
					p В&nbsp;верстаках все инструменты распределены по&nbsp;назначению и&nbsp;всегда под рукой&nbsp;&mdash; не&nbsp;нужно тратить время на&nbsp;поиски. При этом они не&nbsp;теряются. Что позволяет сократить затраты на&nbsp;расходные материалы до&nbsp;40%. 
					p Мы&nbsp;проверили это на&nbsp;собственном производстве. Раньше тележку собирали за&nbsp;два, а&nbsp;то&nbsp;и&nbsp;три дня,  а&nbsp;какой-нибудь ключ искали аж&nbsp;15&nbsp;минут. После установки верстаков тележку собираем за&nbsp;день, а&nbsp;потери инструментов практически свели на&nbsp;нет. 
					+e.hidden-block
						p В&nbsp;верстаках все инструменты распределены по&nbsp;назначению и&nbsp;всегда под рукой&nbsp;&mdash; не&nbsp;нужно тратить время на&nbsp;поиски. При этом они не&nbsp;теряются. Что позволяет сократить затраты на&nbsp;расходные материалы до&nbsp;40%.
						p Мы&nbsp;проверили это на&nbsp;собственном производстве. Раньше тележку собирали за&nbsp;два, а&nbsp;то&nbsp;и&nbsp;три дня,  а&nbsp;какой-нибудь ключ искали аж&nbsp;15&nbsp;минут. После установки верстаков тележку собираем за&nbsp;день, а&nbsp;потери инструментов практически свели на&nbsp;нет. 
						p В&nbsp;верстаках все инструменты распределены по&nbsp;назначению и&nbsp;всегда под рукой&nbsp;&mdash; не&nbsp;нужно тратить время на&nbsp;поиски. При этом они не&nbsp;теряются. Что позволяет сократить затраты на&nbsp;расходные материалы до&nbsp;40%.
				a.link-more-js(href="#") ЧИТАТЬ ДАЛЬШЕ

	// end s-what-mebel

//- Аксессуары  
mixin s-what-aksessuari()
	// start s-what-aksessuari
	+b.SECTION.s-what-workbenches.section#s-what-workbenches&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Для чего используются aksessuari под СЕО:
			+e.inner 
				if block
					block
				else
					p В&nbsp;верстаках все инструменты распределены по&nbsp;назначению и&nbsp;всегда под рукой&nbsp;&mdash; не&nbsp;нужно тратить время на&nbsp;поиски. При этом они не&nbsp;теряются. Что позволяет сократить затраты на&nbsp;расходные материалы до&nbsp;40%. 
					p Мы&nbsp;проверили это на&nbsp;собственном производстве. Раньше тележку собирали за&nbsp;два, а&nbsp;то&nbsp;и&nbsp;три дня,  а&nbsp;какой-нибудь ключ искали аж&nbsp;15&nbsp;минут. После установки верстаков тележку собираем за&nbsp;день, а&nbsp;потери инструментов практически свели на&nbsp;нет. 
					+e.hidden-block
						p В&nbsp;верстаках все инструменты распределены по&nbsp;назначению и&nbsp;всегда под рукой&nbsp;&mdash; не&nbsp;нужно тратить время на&nbsp;поиски. При этом они не&nbsp;теряются. Что позволяет сократить затраты на&nbsp;расходные материалы до&nbsp;40%.
						p Мы&nbsp;проверили это на&nbsp;собственном производстве. Раньше тележку собирали за&nbsp;два, а&nbsp;то&nbsp;и&nbsp;три дня,  а&nbsp;какой-нибудь ключ искали аж&nbsp;15&nbsp;минут. После установки верстаков тележку собираем за&nbsp;день, а&nbsp;потери инструментов практически свели на&nbsp;нет. 
						p В&nbsp;верстаках все инструменты распределены по&nbsp;назначению и&nbsp;всегда под рукой&nbsp;&mdash; не&nbsp;нужно тратить время на&nbsp;поиски. При этом они не&nbsp;теряются. Что позволяет сократить затраты на&nbsp;расходные материалы до&nbsp;40%.
				a.link-more-js(href="#") ЧИТАТЬ ДАЛЬШЕ

	// end s-what-aksessuari