mixin form-head()
	form.js-form-validate( data-parsley-validate="") 
		input(type='hidden', class="order", name='order', value=`Заявка  с сайта` ) 
		block

mixin input(placeholder,  t='text', label, name= t)
	mixin t(t='text',placeholder, name= t)
		if t== "textarea"
			+e.TEXTAREA.input.form-control(placeholder= placeholder name= name)&attributes(attributes)
		else if t== "select"
			+e.SELECT.input.form-control( name= name)&attributes(attributes)
				option(value= placeholder) placeholder
				- for (var x = 1; x < 5; x++)
					option(value=` placeholder ${x}`)= `placeholder ${x}`
		else
			+e.INPUT.input.form-control(type= t placeholder= placeholder name= name)&attributes(attributes)
	+e.input-wrap.form-group
		if label
			label
				+e.SPAN.title= label
				+t(t,placeholder, name)&attributes(attributes)
				block
		else
			+t(t,placeholder, name)&attributes(attributes)
		block
	// +e.input-wrap
mixin select(label,pl,...items)
	+e.input-wrap
		label
			+e.SPAN.title= label
			+e.SELECT.input

					option()= pl
					each item in items
						option()= item

//- wrapper for form
mixin form-wrap()
	+b.form-wrap&attributes(attributes)
		form
			input(type='hidden', class="order", name='order', value=`Заявка  с сайта`)  
			block
//- /wrapper for form


mixin in-c(typ="checkbox", text, name= typ )
	+b.LABEL.custom-input
		+e.INPUT.input(type= typ , name= name)&attributes(attributes)
		+e.SPAN.lab
		if block
			block 
		else
			+e.SPAN.text= text
 
mixin add-file(n)
	+b.add-file
		label
			+e.INPUT.input(name='file', type='file')
			+e.SPAN.btn 
			+e.SPAN.text   Прикрепить резюме
		+e.SPAN.filename 


mixin inputName()
	+input("Иван","text",'Как к вам обращаться?',"name")(required)
mixin order-block(btn="Обсудить заказ")
	input(type="hidden" class='order' name='order' value="")
	input(type="hidden" class='color' name='color' value="") 
	block
	+inputName()
	+form-tabs-modal()
	.h6 Специалист компании &laquo;АБлок&raquo; Зоя позвонит  вам прямо сейчас или в&nbsp;другое рабочее время: мы&nbsp;работаем ежедневно с&nbsp;09:00 до&nbsp;20:00
	+e.toggle 
		span Укажите необходимое количество, если знаете
	+e.toggle-block
		+input("Текст сообщения","textarea",'',"comment")
	+e.btn(type='submit')= btn
	+polite

mixin form-tabs()
	.tabs
		+e.group
			+e.group-title Как с вами связаться?
			
			.tabs__caption
				.tabs__btn.active
					+icon('tel')
					| Звонок 
				.tabs__btn
					+icon('viber')
					| Viber
				.tabs__btn
					+icon('whatsapp')
					| WhatsApp
		block
		.tabs__wrap
			.tabs__content.active
				+input("+7 (999) 999-99-99","tel",'Введите телефон:',"tel")(required)
 
			.tabs__content
				+input("+7 (999) 999-99-99","tel",'Введите viber:',"viber")
			.tabs__content
				+input("+7 (999) 999-99-99","tel",'Введите whatsapp:',"whatsapp")
		.h5.text-secondar Перезвоню в течение рабочего дня

mixin form-tabs2()
	.tabs
		+e.group
			+e.group-title Как вам удобно получить ответ?

			.tabs__caption
				.tabs__btn.active
					+icon('tel')
					| Звонок 
				.tabs__btn
					+icon('viber')
					| Viber
				.tabs__btn
					+icon('whatsapp')
					| WhatsApp
		block
		.tabs__wrap
			.tabs__content.active
				+input("+7 (999) 999-99-99","tel",'Введите телефон:',"tel")(required)
 
			.tabs__content
				+input("+7 (999) 999-99-99","tel",'Введите viber:',"viber")
			.tabs__content
				+input("+7 (999) 999-99-99","tel",'Введите whatsapp:',"whatsapp")
		//- .h5.text-secondar Перезвоню в течение рабочего дня

mixin form-tabs-qwiz()
	.tabs
		+e.group
			//- +e.group-title Как с вами связаться?
			
			.tabs__caption
				.tabs__btn.tabs__btn--qwiz.active
					+icon('viber')
					| Viber
				.tabs__btn.tabs__btn--qwiz
					+icon('whatsapp')
					| WhatsApp
				.tabs__btn.tabs__btn--qwiz
					+icon('telegram')
					| Telegram
					
				.tabs__btn.tabs__btn--qwiz
					+icon('email')
					| Email

		block
		.tabs__wrap
			.tabs__content.active
				+input("+7 (999) 999-99-99","tel",'Введите viber:',"viber")
			.tabs__content
				+input("+7 (999) 999-99-99","tel",'Введите whatsapp:',"whatsapp")
			.tabs__content
				+input("Ваш telegram","tel",'Введите telegram:',"telegram")(required)
 
			.tabs__content
				+input("Ваш email","email",'Введите email:',"email")
 
		.h5.text-secondar Проверьте правильность номера телефона &mdash;&nbsp;за&nbsp;ним мы&nbsp;зафиксируем вашу скидку&nbsp;10%


//- wrapper for form
mixin form-wrap(order)
	+b.form-wrap()&attributes(attributes)
		form
			input(type='hidden', class="order", name='order', value= order ) 
		 
			block
//- /wrapper for form


mixin polite()
	+e.polite.text-secondary  Нажимая на&nbsp;кнопку, вы&nbsp;даете согласие на&nbsp;обработку своих персональных данных и&nbsp;соглашаетесь с&nbsp;
		a(href="privacy-policy.pdf" target="_blank").tdu.text-secondary Политикой конфиденциальности


mixin form-body()
	
	+input("+7 (900) 444-44-44","tel",'Введите телефон:')(required)
	//- +e.title  Выберите время для звонка
	+inputName()
	+b.LABEL.custom-input-time
		+e.INPUT.input(type='checkbox', name='scr8-time', )
		+e.SPAN.lab
		+e.SPAN.text--now 
			span.d-none.d-sm-inline Позвонить сейчас
			span.d-sm-none Сейчас
		+e.SPAN.text--time 
			span.d-none.d-sm-inline Позвонить по времени
			span.d-sm-none По времени
	//- +input(" Ваш номер телефона","tel",'Введите Ваш номер телефона для связи')

	.toggle-wrap-input-js
		+input("Например: во вторник в 14:00","text",'Когда позвонить?','time')
