.form-wrap {


	// [name='email'] {
	// 	display: none;
	// }
	.h5.text-secondar {
		color: #9b9b9b;
		font-weight: 400;
		padding-bottom: rem(32);
	}

	&__input-wrap {
		@extend .form-group;
		text-align: left;

		label {
			width: 100%;
			display: block;
		}
	}

	&__input {
		@extend .form-control;
		// @extend .form-control-lg;
		// font-weight: 600;
		//  outline: 0 !important;
		resize: none;
		letter-spacing: rem(0.4px);
		box-shadow: none !important;

		@include media-breakpoint-down(xs) {
			height: initial;
			padding: 1rem .75rem;
		}
	}

	&__row {
		@include media-breakpoint-down(xs) {
			@include roww(10)
		}
	}

	&__btn {
		cursor: pointer;
		margin-top: rem(20);
		margin-bottom: rem(30);
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		// max-width: rem(358);
	}

	&__title {
		@extend .h5;
		font-weight: normal;
		color: #5d5d5d;

		@include media-breakpoint-down(xs) {
			font-size: 12px;
			font-weight: normal;
		}

		// color: #5d5d5d;
		display: block;

		padding-bottom: rem(5);

		@include media-breakpoint-up(sm) {
			padding-bottom: rem(10);

			// text-align: left;
		}

		// text-align: center;
	}

	&__polite {

		max-width: rem(370);
		font-size: rem(13);
		color: $secondary;
		text-align: center;

		a {
			// color: #9b9b9b !important;
			@extend .tdu;
			display: inline-block;

		}
	}

	&__top-title {

		@include rfs(rem(30));
		line-height: 1.2;
		color: #333845;
		padding-bottom: rem(20);
		font-weight: 500;

		span {
			@extend .h4;
		}
	}

	&__text {
		color: #4e4e4e;
		letter-spacing: rem(0.29px);
		line-height: 1.43;

		// max-width: rem(386);
		&--sm {
			padding-bottom: rem(24);
			@extend .h6;
			color: #5d5d5d;
			font-weight: normal;
			// max-width: rem(320);
		}

		&--lg {
			@include rfs(rem(22));
			color: #222222;
			font-weight: 500;
			// max-width: rem(370);

		}
	}

	.tabs {
		padding-bottom: rem(18);
		// margin-bottom: rem(20);

		&__caption {
			display: flex;
			flex-wrap: wrap;
			margin-left: auto;
			margin-right: auto;

		}

		&__btn {
			color: $secondary;
			font-size: $small;
			background-color: #f4f4f4;
			flex-grow: 1;

			@include media-breakpoint-up(sm) {
				flex-grow: 1;
				min-width: 1%;
			}

			flex-grow: 1;
			min-width: 1%;

			display: flex;
			align-items: center;
			justify-content: center;
			align-items: center;

			@include media-breakpoint-up(sm) {

				height: rem(56);
			}

			height: rem(50);
			position: relative;
			z-index: 2;
			padding-left: rem(10);
			padding-right: rem(10);

			&:not(:last-child) {
				border-right: 1px solid #fff;
			}

			&::before {
				content: '';
				position: absolute;
				opacity: 0;
				z-index: -1;
				width: 100%;
				height: 100%;
				background-image: linear-gradient(-10deg, #0d64db 0%, #39b1ff 100%);
				opacity: 0;
				@include mt;
				left: 0;
				top: 0;
			}

			&:hover,
			&.active {
				color: #ffffff;

				&::before {
					opacity: 1;
				}
			}

			&:first-child {
				border-radius: 3px 0 0 3px;

				&::before {
					border-radius: 3px 0 0 3px;

				}
			}

			&:last-child {
				border-radius: 0 3px 3px 0;

				&::before {
					border-radius: 0 3px 3px 0;

				}
			}

			.icon {
				@include media-breakpoint-down(xs) {
					font-size: 14px;
				}

				font-size: rem(20);
				flex-shrink: 0;
				margin-right: rem(8);
			}
		}
	}

	&__group {
		padding-bottom: rem(34);
	}

	&__group-title {
		@extend .h6;
		color: #5d5d5d;
		font-weight: 400;

		@include media-breakpoint-down(xs) {
			font-size: 12px;
			font-weight: normal;
		}

		// color: #5d5d5d;
		font-weight: 500;
		line-height: 1.1;

		padding-bottom: rem(9);

		@include media-breakpoint-up(sm) {
			padding-bottom: rem(19);
			// text-align: left;
		}

		// text-align: center;
	}

	&__toggle {
		// cursor: pointer;
		text-align: center;
		@extend .h6;

		span {

			// @extend .tdu;
			border-bottom: 1px dashed;
			@include mt;

			&:hover {
				// border-color: transparent;
			}
		}

		// margin-bottom: 0.5rem;
		&-block {
			padding-top: 0.5rem;
			// display: none;
		}
	}
}

.toggle-wrap-input-js {
	display: none;
	padding-top: rem(10);
}



// 
@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(xs) {}

// 
@include media-breakpoint-between(md, xl) {}

// 
@include media-breakpoint-only(xs) {}

@include media-breakpoint-only(sm) {}

@include media-breakpoint-only(md) {}

@include media-breakpoint-only(lg) {}

@include media-breakpoint-only(xl) {}

// 
@include media-breakpoint-down(xl) {}

@include media-breakpoint-down(lg) {}

@include media-breakpoint-down(md) {}

@include media-breakpoint-down(sm) {}

@include media-breakpoint-down(xs) {}




.custom-input {
	display: block;
	margin: auto;

	margin-bottom: rem(20);
	cursor: pointer;
	position: relative;
	padding-left: rem(35px);
	display: inline-block;

	&__input {
		position: absolute;
		// opacity: 0;
		width: 1px;
		height: 1px;
		margin: -1px;
		border: 0;
		padding: 0;
		clip: rect(0 0 0 0);
		overflow: hidden;
	}

	&__lab {
		left: 0;
		display: block;
		top: rem(3);
		width: rem(20px);
		height: rem(20px);
		background-color: $primary;
		@include mt;
		position: absolute;
		margin-right: 10px;

		&::after {
			content: '';
			position: absolute;
			@include a-cent;
			opacity: 0;
		}

	}

	&__input[type="checkbox"]+&__lab {
		border-radius: 4px;

		&::after {
			content: '';
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center center;
			background-image: url(../img/svg/tick-black.svg);
			position: absolute;
			@include a-cent;
			@include mt;
			width: 80%;
			height: 80%;
			opacity: 0;
		}
	}

	&__input[type="radio"]+&__lab {
		border-radius: 50%;

		&::after {
			border-radius: 50%;
		}
	}

	&__input:checked+&__lab {


		&::after {

			opacity: 1;
		}
	}

}






.select2-container--default {
	display: block;
	outline: 0 !important;

	.select2-selection--single {
		border-radius: 0;
		border: none;
		border-bottom: solid 1px;
		height: auto;
		font-size: rem(24px);
		outline: 0 !important;

		.select2-selection__arrow b {
			border-color: $success transparent transparent transparent;
			border-style: solid;
			border-width: 7px 7px 0 7px;
		}

		.select2-selection__rendered {
			white-space: normal;
			padding-left: 0;
			padding-bottom: 5px;
		}
	}
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
	border-color: transparent transparent $success transparent;
	border-width: 0 7px 7px 7px;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
	background-color: $success;
}


.custom-input-time {
	cursor: pointer;
	width: calc(100%);
	border-radius: rem(4);




	display: flex !important;
	font-weight: 500;
	// justify-content: center;
	align-items: center;
	text-align: center;
	z-index: 2;
	position: relative;
	overflow: hidden;
	// text-shadow: 0 2px 0 rgba(255, 255, 255, 0.53);
	color: #000000;
	font-size: rem(15);

	&__input {
		position: absolute;
		// opacity: 0;
		width: 1px;
		height: 1px;
		margin: -1px;
		border: 0;
		padding: 0;
		clip: rect(0 0 0 0);
		overflow: hidden;
	}

	&__text {
		width: 50%;
		display: block;
		padding: 5px;
		@include mt;
		border-radius: 2px;
		display: flex;
		justify-content: center;
		align-items: center;
		@include mt;
		background-color: #f4f4f4;
		position: relative;
		z-index: 2;

		&::before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-image: linear-gradient(-10deg, #0d64db 0%, #39b1ff 100%);
			z-index: -1;
			opacity: 0;
			@include mt;
		}


		@include media-breakpoint-up(sm) {

			height: rem(58);
		}

		height: rem(52);

		&--now {
			color: #fff;

			// color: #ffffff;
			&::before {
				opacity: 1;
			}
		}

		&:hover {
			color: #ffffff;

			&::before {
				opacity: 1;
			}
		}

	}



	&__input:checked~&__text--now:not(:hover) {

		//  left: calc(50% + 5px);
		// color: $body-color;
		// border: 1px solid #dfdfdf;
		color: $body-color;

		&::before {
			opacity: 0;
		}
	}

	&__input:checked~&__text--time {

		// border: 1px solid #0075ff;
		&::before {
			opacity: 1;
		}

		color: #fff;
		//  left: calc(50% + 5px);
		// color: #fff;
	}

}



.type-company {
	margin-bottom: rem(29);
	position: relative;

	&__input {
		position: absolute;
		opacity: 0;
		width: 1px;
		height: 1px;
		margin: -1px;
		border: 0;
		padding: 0;
		clip: rect(0 0 0 0);
		overflow: hidden;
		top: 100%;
	}

	text-align: center;
	color: $secondary;
	cursor: pointer;
	@include mt;

	&:hover {
		@extend .text-body;
	}

	&__input:checked~&__text {}

	&__input:checked~&__icon-wrap {
		background-color: $accent;
		// color: #ffffff;
	}

	&__icon-wrap {
		width: rem(92px);
		height: rem(92px);
		background-color: #f4f4f4;
		margin-left: auto;
		margin-right: auto;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: rem(50);
		margin-bottom: rem(15);

		@include media-breakpoint-down(xs) {
			width: 60px;
			height: 60px;
		}

		@include mt;

		.icon {
			@include media-breakpoint-down(xs) {

				font-size: rem(30);
			}

			font-size: rem(42);

		}
	}

	&__text {
		color: #adafb3;

		// max-width: rem(110);
		@include media-breakpoint-down(xs) {
			font-size: 10px;
			line-height: 1.13;
			display: block;
		}
	}
}

@include media-breakpoint-down(xs) {
	.form-wrap__row-wrap {
		margin-left: auto;
		margin-right: auto;
		max-width: rem(340);
	}
}