mixin top-line()
	// start .top-line
	+b.top-line.block-with-lazy
		.container
			.row 
				+logo()(class="col-lg-auto col-md")
				.col-auto.order-last
					+e.basket
						+icon("cart")
						+e.basket-count 99
						+e.basket-empty Ваша корзина пуста
				.col-auto.order-lg-last
					+contact-block()
							
				.col-lg.d-lg-flex.flex-lg-column-reverse.order-lg-0.order-last

					ul.d-none.d-lg-flex
						li: .link взломостойкие
						li: .link Aiko
						li: .link айко
					+search()
							
	// end .top-line