.top-line {
  padding-top: rem(17);
  padding-bottom: rem(10);
  z-index: 1000;
  position: relative;

  &__basket {
    z-index: 4;
    cursor: pointer;

    .icon {
      font-size: rem(35);
    }

    position: relative;
  }

  &__basket:hover &__basket-empty {
    opacity: 1;
    pointer-events: painted;
    z-index: 10;
  }

  &__basket-count {
    position: absolute;
    bottom: rem(-5);
    right: rem(-5);
    width: rem(23px);
    height: rem(23px);
    border-radius: 50%;
    background-color: #7ced91;
    text-align: center;
    color: #3d3d3d;
    font-family: "Open Sans";
    line-height: 1.38;
    // Text style for "1"
    letter-spacing: 0.32px;

  }

  &__basket-empty {
    position: absolute;
    top: 100%;
    left: 0;
    font-weight: 500;
    padding: rem(11) rem(30);
    box-shadow: 3px 3px 35px rgba(154, 187, 206, 0.17);
    background-color: #ffffff;
    min-width: rem(170);
    border: 1px solid #eee;
    border-radius: 5px;
    opacity: 0;
    z-index: -1;
    pointer-events: none;
    text-align: center;

    &:after,
    &:before {
      bottom: 100%;
      left: rem(14);
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    &:after {
      @include triangle(15px, #fff, up);
    }

    &:before {
      @include triangle(17px, #eee, up);
      margin-left: -1px;

    }
  }

  // 
  @include media-breakpoint-up(xl) {}

  @include media-breakpoint-up(lg) {}

  @include media-breakpoint-up(md) {}

  @include media-breakpoint-up(sm) {}

  @include media-breakpoint-up(xs) {}

  // 
  @include media-breakpoint-between(md, xl) {}

  // 
  @include media-breakpoint-only(xs) {}

  @include media-breakpoint-only(sm) {}

  @include media-breakpoint-only(md) {}

  @include media-breakpoint-only(lg) {}

  @include media-breakpoint-only(xl) {}

  // 
  @include media-breakpoint-down(xl) {}

  @include media-breakpoint-down(lg) {}

  @include media-breakpoint-down(md) {
    .form-search {
      margin-top: rem(20);
    }

    .logo a,
    .row {
      // justify-content: flex-end;
      justify-content: center;
    }
  }

  @include media-breakpoint-down(sm) {




    padding-bottom: rem(20);
  }

  @include media-breakpoint-down(xs) {}

  ul {
    display: flex;
    @include roww(5);
    padding-top: rem(5);

    @include media-breakpoint-up(lg) {
      justify-content: flex-start;
    }

    justify-content: flex-end;

    .link {
      text-decoration: none !important;
      border-bottom: 1px solid;
      @extend .text-secondary;
      font-weight: 300;
      font-size: rem(14);
      display: inline;

      &:hover {
        // border-color: transparent;
      }
    }
  }

  li {
    list-style-type: none;

  }
}