mixin top-line()
	// start .top-line
	+b.top-line.block-with-lazy
		.container
			.row 
				.col-auto.d-sm-none
					+b.toggle-menu-mobile--js
							span
				+logo()(class="col-xl-auto col text-sm-left text-center")
				.col.d-none.d-xl-block
					+e.addr
						+icon("placeholder")
						+e.addr-title Наш адрес: 
						+e.text Москва, Котельники,   Дзержинское шоссе, д.&nbsp;1
				+contact-block()

	// end .top-line