//- -
//- 	const json = require('./s-form.json');
mixin man()
	.col-xl-7.col-lg-6.align-self-end.order-lg-first.order-last
		block
		+e.img-wrap
			img.lazy.res-i(src="#" data-src="img/@2x/man.png", alt="")
			+e.label
				+e.label-name Александр Сикерин
				+e.label-prof руководитель 
mixin s-form()
	// start s-form
	+b.s-form.section.block-with-lazy#s-form(style="background-image: url(img/@2x/s-form-bg.jpg);")&attributes(attributes)
		.container
			.row

				.col-xl-6.col-lg-6
					+b.section-title
						h2 #[strong Получите полный каталог и&nbsp;прайс] на&nbsp;металлическую  мебель  Виртуоз-групп 
				.col
					+e.head-text 
						+form-wrap("Получить каталог и прайс")
							+form-tabs() 
								+e.group-title Какую компанию вы&nbsp;представляете?

								+e.row.row.justify-content-between
									+b.LABEL.type-company.col-auto
										+e.INPUT.input(type="radio" name="type-company[]" value="Строительная компания" required)
										+e.icon-wrap
											+icon("branch")
										+e.text Производственная
											| 
											br
											|  компания&nbsp;/ Завод
									
									+b.LABEL.type-company.col-auto
										+e.INPUT.input(type="radio" name="type-company[]" value="Торговая компания" )
										+e.icon-wrap
											+icon("wrench")
										+e.text Автосервис
											| 
											br
											| СТО
									+b.LABEL.type-company.col-auto
										+e.INPUT.input(type="radio" name="type-company[]" value="Частное лицо" )
										+e.icon-wrap
											+icon("users")
										+e.text Я частное
											| 
											br
											|  лицо
							+inputName()
							+button('Получить каталог и прайс')
							+polite

	// end s-form

mixin s-form2()
	// start s-form2
	+b.s-form--2.section.block-with-lazy#s-form--2&attributes(attributes)
		.container
			.row

				+man()
				.col
					+e.head-text.corrective-margin
						h2 Есть вопросы <br>по&nbsp;доставке и&nbsp;сборке?
						h5 Напишите ваш вопрос
						+form-wrap("Получить каталог и прайс")
							textarea.form-control
							+form-tabs2() 
							//- +inputName()
							+e.btn(type="submit") Задать вопрос
							+polite

	// end s-form2
mixin s-form-08()
	// start s-form2
	+b.s-form.section.block-with-lazy#s-form&attributes(attributes)
		.container
			.row

				+man()
				.col
					+e.head-text
						h2 Нужна помощь в&nbsp;подборе  сейфа?
						h5 Наш специалист проконсультирует  вас, ответит на&nbsp;все вопросы  и&nbsp;поможет подобрать сейф
						+form-wrap("Получить каталог и прайс")
							+form-tabs() 
							+inputName()
							+e.btn(type="submit") Получить помощь  в&nbsp;подборе&nbsp;сейфа
							+polite

mixin s-form-19()
	// start s-form2
	+b.s-form.section.block-with-lazy#s-form&attributes(attributes)
		.container
			.row

				+man()
				.col
					+e.head-text
						h2 Нужна консультация в&nbsp;подборе сейфа?
						h5 Руководитель компании проконсультирует вас, ответит на&nbsp;все вопросы
						+form-wrap("Получить каталог и прайс")
							+form-tabs() 
							+inputName()
							+e.btn(type="submit") Получить консультацию в&nbsp;подборе&nbsp;сейфа
							+polite
	// end s-form
