//- -
//- 	const json = require('./s-form.json');
mixin man()
	.col-xl-7.col-lg-6.align-self-end.order-lg-first.order-last
		block
		+e.img-wrap
			img.lazy.res-i(src="#" data-src="img/@2x/man.png", alt="")
			+e.label
				+e.label-name Александр Сикерин
				+e.label-prof руководитель 
mixin s-form()
	// start s-form
	+b.s-form.section.block-with-lazy#s-form(style="background-image: url(img/@2x/s-form-bg.jpg);")&attributes(attributes)
		.container
			.row

				.col-xl-6.col-lg-6
					+b.section-title
						h2 #[strong Получите полный каталог и&nbsp;прайс] на&nbsp;металлическую  мебель  Виртуоз-групп 
				.col
					+e.head-text 
						+form-wrap("Получить каталог и прайс")
							+form-tabs() 
								+e.group-title Какую компанию вы&nbsp;представляете?

								+e.row.row.justify-content-between
									+b.LABEL.type-company.col-auto
										+e.INPUT.input(type="radio" name="type-company[]" value="Строительная компания" required)
										+e.icon-wrap
											+icon("branch")
										+e.text Производственная
											| 
											br
											|  компания&nbsp;/ Завод
									
									+b.LABEL.type-company.col-auto
										+e.INPUT.input(type="radio" name="type-company[]" value="Торговая компания" )
										+e.icon-wrap
											+icon("wrench")
										+e.text Автосервис
											| 
											br
											| СТО
									+b.LABEL.type-company.col-auto
										+e.INPUT.input(type="radio" name="type-company[]" value="Частное лицо" )
										+e.icon-wrap
											+icon("users")
										+e.text Я частное
											| 
											br
											|  лицо
							+inputName()
							+button('Получить каталог и прайс')
							+polite

	// end s-form




//- форма страницы 05
mixin s-form05()
	// start s-form05
	+b.s-form--05.section.block-with-lazy#s-form&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Нужна помощь в&nbsp;подборе верстаков?
				h3 Наш специалист проконсультирует вас, ответит на&nbsp;все вопросы
					br
					| и&nbsp;поможет подобрать необходимые инструменты
			.row
				.col.d-non.d-lg-block
					+girl()

				.col-xl-6.col-lg-7
					+e.head-text 
						+form-wrap("получить помощь в подборе верстака")
							+form-modal() 
							+inputName()
							+button('получить помощь в подборе верстака')
							+polite



//- форма страницы 13
mixin s-form-13()
	// start s-form05
	+b.s-form--05.section.block-with-lazy#s-form--05&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Нужна помощь в выборе стеллажа?
				h3 Наш специалист проконсультирует вас, ответит на&nbsp;все вопросы
					br
					| и&nbsp;поможет подобрать необходимые инструменты
			.row
				.col
					+girl()

				.col-xl-6.col-lg-7
					+e.head-text 
						+form-wrap("получить помощь в подборе верстака")
							+form-modal() 
							+inputName()
							+button('получить помощь в подборе стеллажа')
							+polite



//- форма страницы 06
mixin s-form-06()
	// start s-form05
	+b.s-form--05.shiping-form.section.block-with-lazy#s-form&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Есть вопросы по&nbsp;доставке и оплате?
				h3 Наш специалист проконсультирует вас, ответит на&nbsp;все вопросы
			.row
				.col.d-non.d-lg-block
					+girl()

				.col-xl-6.col-lg-7
					+e.head-text 
						+form-wrap("получить помощь в подборе верстака")
							+input("Введите текст","textarea",'Напишите ваш вопрос:')
							+form-modal-06() 
							+button('Задать вопрос')
							+polite





	// end s-form2
mixin s-form-08()
	// start s-form2
	+b.s-form.section.block-with-lazy#s-form&attributes(attributes)
		.container
			.row

				+man()
				.col
					+e.head-text
						h2 Нужна помощь в&nbsp;подборе  сейфа?
						h5 Наш специалист проконсультирует  вас, ответит на&nbsp;все вопросы  и&nbsp;поможет подобрать сейф
						+form-wrap("Получить каталог и прайс")
							+form-tabs() 
							+inputName()
							+e.btn(type="submit") Получить помощь  в&nbsp;подборе&nbsp;сейфа
							+polite

mixin s-form-19()
	// start s-form2
	+b.s-form.section.block-with-lazy#s-form&attributes(attributes)
		.container
			.row

				+man()
				.col
					+e.head-text
						h2 Нужна консультация в&nbsp;подборе сейфа?
						h5 Руководитель компании проконсультирует вас, ответит на&nbsp;все вопросы
						+form-wrap("Получить каталог и прайс")
							+form-tabs() 
							+inputName()
							+e.btn(type="submit") Получить консультацию в&nbsp;подборе&nbsp;сейфа
							+polite
	// end s-form
