mixin s-other-products()
	// start s-other-products
	+b.SECTION.s-other-products.section#s-other-products&attributes(attributes)
		.container
			h2.text-center Также вам могут понадобиться:
			ul
				li: a(href="stellaji.html") Стеллажи 
					br
					|металлические
				li: a(href="shkafi.html") Шкафы
					br
					|металлические
				li: a(href="tumbi.html") Тумбы
					br
					|инструметальные
				li: a(href="mebel.html") Мебель
					br
					|для гаража
				li: a(href="aksessuari.html") Аксессуары
	// end s-other-products
//- со страницы шкафы
mixin s-other-products-shkafi()
	// start s-other-products
	+b.SECTION.s-other-products.section#s-other-products&attributes(attributes)
		.container
			h2.text-center Также вам могут понадобиться:
			ul
				li: a(href="verstaki.html") Верстаки 
					br
					|слесарные
				li: a(href="stellaji.html") Стеллажи 
					br
					|металлические
				li: a(href="tumbi.html") Тумбы
					br
					|инструметальные
				li: a(href="mebel.html") Мебель
					br
					|для гаража
				li: a(href="aksessuari.html") Аксессуары
	// end s-other-products
//- со страницы тумбы
mixin s-other-products-tumbi()
	// start s-other-products
	+b.SECTION.s-other-products.section#s-other-products&attributes(attributes)
		.container
			h2.text-center Также вам могут понадобиться:
			ul
				li: a(href="verstaki.html") Верстаки 
					br
					|слесарные
				li: a(href="stellaji.html") Стеллажи 
					br
					|металлические
				li: a(href="mebel.html") Мебель
					br
					|для гаража
				li: a(href="mebel.html") Шкафы
					br
					|металлические
				li: a(href="aksessuari.html") Аксессуары
	// end s-other-products
//- со страницы мебель
mixin s-other-products-mebel()
	// start s-other-products
	+b.SECTION.s-other-products.section#s-other-products&attributes(attributes)
		.container
			h2.text-center Также вам могут понадобиться:
			ul
				li: a(href="verstaki.html") Верстаки 
					br
					|слесарные
				li: a(href="stellaji.html") Стеллажи 
					br
					|металлические
				li: a(href="tumbi.html") Тумбы
					br
					|инструметальные
				li: a(href="mebel.html") Шкафы
					br
					|металлические
				li: a(href="aksessuari.html") Аксессуары
	// end s-other-products
//- со страницы аксессуары 
mixin s-other-products-aksessuari()
	// start s-other-products
	+b.SECTION.s-other-products.section#s-other-products&attributes(attributes)
		.container
			h2.text-center Также вам могут понадобиться:
			ul
				li: a(href="verstaki.html") Верстаки 
					br
					|слесарные
				li: a(href="stellaji.html") Стеллажи 
					br
					|металлические
				li: a(href="tumbi.html") Тумбы
					br
					|инструметальные
				li: a(href="mebel.html") Мебель
					br
					|для гаража
				li: a(href="mebel.html") Шкафы
					br
					|металлические
	// end s-other-products




mixin s-other-products-13()
	// start s-other-products
	+b.SECTION.s-other-products.section#s-other-products&attributes(attributes)
		.container
			h2.text-center Также вам могут понадобиться:
			ul
				li: a(href="verstaki.html") Верстаки 
					br
					|слесарные
				li: a(href="shkafi.html") Шкафы
					br
					|металлические
				li: a(href="tumbi.html") Тумбы
					br
					|инструметальные
				li: a(href="mebel.html") Мебель
					br
					|для гаража
				li: a(href="aksessuari.html") Аксессуары
	// end s-other-products