mixin s-other-products()
	// start s-other-products
	+b.SECTION.s-other-products.section#s-other-products&attributes(attributes)
		.container
			h2.text-center Также вам могут понадобиться:
			ul
				li: a(href="#") Стеллажи 
					br
					|металлические
				li: a(href="#") Шкафы
					br
					|металлические
				li: a(href="#") Тележки
					br
					|инструметальные
				li: a(href="#") Мебель
					br
					|для гаража
				li: a(href="#") Аксессуары
	// end s-other-products




mixin s-other-products-13()
	// start s-other-products
	+b.SECTION.s-other-products.section#s-other-products&attributes(attributes)
		.container
			h2.text-center Также вам могут понадобиться:
			ul
				li: a(href="#") Верстаки 
					br
					|слесарные
				li: a(href="#") Шкафы
					br
					|металлические
				li: a(href="#") Тележки
					br
					|инструметальные
				li: a(href="#") Мебель
					br
					|для гаража
				li: a(href="#") Аксессуары
	// end s-other-products