
mixin item-menu() 
	a(href="#") Верстаки слесарные
	a(href="#")  Стеллажи металлические
	a(href="#")  Шкафы металлические
	a(href="#")  Тумбы инструментальные 
	a(href="#")  Мебель для гаража
	a(href="#")  Аксессуары 
mixin mob-mnu()
	//- +b.toggle-menu-mobile--js.d-lg-none
	//- 	span
	+b.menu-mobile--js.d-lg-none
		+b.toggle-menu-mobile--js
			span
		+e.inner
		
			a(href="/").active Главная
			+item-menu() 
			a(href="#") Доставка и оплата
			a(href="07-contacts.html") Контакты
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy.d-none.d-sm-block
		.container 
					+b.menu-top
						+b.catalog-menu
							+e.toggle
								+e.toggle-text 
									span
									| Каталог
							+e.dropdown--tabs
								
								+item-menu()
						ul 
							li: a(href="#") Доставка и оплата
							li: a(href="07-contacts.html") Контакты
	// end top-nav