.top-nav {
	@extend .h6;
	margin-bottom: 0;
	border-top: 1px solid #e9e9e9;
	border-bottom: 1px solid #e9e9e9;
	background-color: #f5f5f5;
	position: relative;
	z-index: 200;

	&__nav {
		text-align: center;
		list-style-type: none;
	}

	&__item {
		display: inline-block;
		list-style-type: none;
	}

	// 
	@include media-breakpoint-up(xl) {}

	@include media-breakpoint-up(lg) {}

	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-up(xs) {}

	// 
	@include media-breakpoint-between(md, xl) {}

	// 
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}

	@include media-breakpoint-only(xl) {}

	// 
	@include media-breakpoint-down(xl) {}

	@include media-breakpoint-down(lg) {}

	@include media-breakpoint-down(md) {}

	@include media-breakpoint-down(sm) {}

	@include media-breakpoint-down(xs) {}
}

.menu-top {
	ul {
		list-style-type: none;

		@include media-breakpoint-up(md) {


			display: flex;
		}

		// align-items: center;
		@include media-breakpoint-up(md) {

			// border-left: 1px solid #e9e9e9;
		}

		margin-bottom: 0;
	}

	li {
		flex-grow: 1;

		@include media-breakpoint-up(lg) {
			max-width: (100% /3);
			flex: 0 0 (100% /3);
		}

		@include media-breakpoint-up(md) {

			border-right: 1px solid #e9e9e9;
		}

		&:not(:last-child) {}

		// height: 100%;
		display: flex;

		&:not(:first-child) {}

		// flex-grow: 1;

	}

	a {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;

		@include media-breakpoint-up(md) {

			justify-content: center;
		}

		color: #111111;
		font-weight: 500;
		padding: rem(8) rem(10);
		text-decoration: none !important;

		.icon {
			font-size: rem(27 * 1.2);
			margin-right: rem(9);
			flex-shrink: 0;
		}

		&:hover {
			color: #398bff;
		}

		&:focus,
		&:active {
			color: #1c61c1;
		}
	}

	.current-menu-item {
		a {
			color: #1c61c1;

		}
	}
}

.catalog-menu {
	height: 100%;
	position: relative;
	border-left: 1px solid #e9e9e9;
	border-right: 1px solid #e9e9e9;

	// margin-left: -15px;
	// margin-right: -15px;

	&__toggle-text {
		position: relative;
		padding-left: rem(48);
	}

	&__toggle {

		&:hover,
		&.active {
			background-color: #ffffff;
		}

		@include mt;
		cursor: pointer;
		height: 100%;
		display: flex;
		align-items: center;
		position: relative;
		// align-items: center;
		justify-content: center;
		$h: 1px;
		padding-left: rem(10);
		padding-right: rem(10);
		min-height: rem(40);


		span:after,
		span:before {
			content: "";
			position: absolute;
			left: 0;
		}

		span {
			@include a-cent(y);
			left: 0;
		}

		span:before {


			top: $h * 8;
		}

		span:after {
			bottom: $h * 8;
		}

		span {
			display: block;
		}

		span,
		span:after,
		span:before {
			// width: 32px;
			width: rem(28);
			height: $h;
			background-color: currentColor;
			transition: transform 0.3s;
			backface-visibility: hidden;
			border-radius: 6px;
		}

		// &.on {
		// 	// opacity: 0;
		// }


	}

	&:hover &__toggle {
		color: #1c61c1;
	}

	&.active &__toggle {
		color: #1c61c1;

		span {
			background-color: transparent;
		}

		span:after,
		span:before {

			top: 0;
			bottom: 0;
			transform-origin: 50% 50%;
		}

		span:before {
			transform: rotate(45deg);
		}

		span:after {
			transform: rotate(-45deg);
		}
	}

	&.active &__dropdown {
		display: block;
	}

	&__dropdown {
		&--tabs {

			display: none;
			position: absolute;
			top: 100%;
			left: 0;
			// @extend .container;

			@include media-breakpoint-up(xl) {
				max-width: 1140px;
			}

			@include media-breakpoint-up(lg) {
				max-width: 930px;
			}

			@include media-breakpoint-up(md) {
				max-width: 690px;
			}

			@include media-breakpoint-up(sm) {
				max-width: 510px;
			}

			max-width: calc(100vw - 40px);

			width: 100vw;
			z-index: 220;
			top: 100%;
			right: 0;
			min-width: rem(260);
			border: 1px solid #e9e9e9;
			background-color: #ffffff;
			z-index: 200;
			padding: rem(15);
		}

		&--menu-top {
			@include media-breakpoint-down(sm) {
				display: none;
				position: absolute;
				top: 100%;
				right: 0;
				min-width: rem(260);
				border: 1px solid #e9e9e9;
				background-color: #ffffff;
				z-index: 200;
				padding: rem(15);
			}
		}

		ul {
			list-style-type: none;
		}
	}

	.tabss {
		&__caption {
			display: flex;
			border-bottom: 1px solid #e9e9e9;
			padding-left: rem(20);
			padding-right: rem(20);
		}

		&__btn {
			padding: rem(8) 0;
			margin-right: rem(58);
			border-bottom: 1px solid transparent;
			margin-bottom: -1px;
			color: $secondary;
			text-decoration: none !important;

			&:hover {

				color: #111111;
			}

			&.active {
				color: #111111;
				border-color: #111111;
			}
		}

		&__content {
			@include media-breakpoint-up(lg) {

				padding: rem(35) rem(23);
			}

			padding: rem(15) 0;

			.h6.strong {
				color: #1c61c1;
				margin-bottom: rem(20);
			}

			a {
				@extend .link-body;
				font-weight: 500;
				font-size: 1rem;
			}

			li {
				margin-bottom: 0.5rem;

			}
		}
	}
}