.top-nav {
	@extend .h5;
	margin-bottom: 0;
	position: relative;
	z-index: 200;
	padding-top: rem(11);
	padding-bottom: rem(20);

	&__nav {
		text-align: center;
		list-style-type: none;
	}

	&__item {
		display: inline-block;
		list-style-type: none;
	}

	// 
	@include media-breakpoint-up(xl) {}

	@include media-breakpoint-up(lg) {}

	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-up(xs) {}

	// 
	@include media-breakpoint-between(md, xl) {}

	// 
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}

	@include media-breakpoint-only(xl) {}

	// 
	@include media-breakpoint-down(xl) {}

	@include media-breakpoint-down(lg) {}

	@include media-breakpoint-down(md) {}

	@include media-breakpoint-down(sm) {}

	@include media-breakpoint-down(xs) {}
}

.menu-top {
	ul {
		list-style-type: none;

		@include media-breakpoint-up(md) {
			max-width: rem(350);

			justify-content: space-between;
		}

		@include media-breakpoint-up(sm) {
			display: flex;
		}

		margin-bottom: 0;
	}

	li {

		display: flex;

		margin-right: rem(20);

		@include media-breakpoint-up(md) {

			// justify-content: center;
			// margin-right: rem(90);
		}
	}

	a {
		width: 100%;
		height: 100%;
		display: flex;
		// align-items: center;



		color: #fff;
		font-weight: 500;
		padding: rem(8) 0;
		text-decoration: none !important;
		@extend .h5;
		margin-bottom: 0;

		.icon {
			font-size: rem(27 * 1.2);
			margin-right: rem(9);
			flex-shrink: 0;
		}

		&:hover {
			color: $accent;
		}

		&:focus,
		&:active {
			color: $accent;
		}
	}

	.current-menu-item {
		a {
			color: $accent;

		}
	}
}

.catalog-menu {
	height: 100%;
	position: relative;
	// margin-left: -15px;
	// margin-right: -15px;

	&__toggle-text {
		position: relative;
		padding-left: rem(38);
		padding-right: rem(20);
	}

	&__toggle {
		color: #ffffff;

		&:hover,
		&.active {
			color: $accent;
		}

		@include mt;
		cursor: pointer;
		height: 100%;
		display: flex;
		align-items: center;
		position: relative;
		// align-items: center;
		// justify-content: center;
		$h: 3px;
		// padding-left: rem(10);
		// padding-right: rem(10);
		min-height: rem(40);


		span:after,
		span:before {
			content: "";
			position: absolute;
			right: 0;
		}

		span {
			@include a-cent(y);
			left: rem(6);
		}

		span:before {


			top: $h * 2;
		}

		span:after {
			bottom: $h * 2;
		}

		span {
			display: block;
		}

		span,
		span:after,
		span:before {
			// width: 32px;
			width: rem(26);
			height: $h;
			background-color: currentColor;
			transition: transform 0.3s;
			backface-visibility: hidden;
			border-radius: 6px;
		}

		span {
			width: rem(18);
		}

		span:before {
			width: rem(11);
		}

		// &.on {
		// 	// opacity: 0;
		// }


	}

	&:hover &__toggle {
		color: $accent;
	}

	&.active &__toggle {
		color: $accent;

		span {
			background-color: transparent;
		}

		span:after,
		span:before {

			top: 0;
			bottom: 0;
			width: rem(26);
			transform-origin: 50% 50%;
		}

		span:before {
			transform: rotate(45deg);
		}

		span:after {
			transform: rotate(-45deg);
		}
	}

	&.active &__dropdown {
		display: block;
	}

	&__dropdown {
		width: 290px;
		height: 383px;
		box-shadow: 0 0 $h3-font-size 10px rgba(82, 78, 94, 0.04);
		border-radius: 6px;
		background-color: #ffffff;
		position: absolute;
		border-radius: 6px;
		display: none;

		a {
			display: block;
			padding: rem(15) rem(30);
			@extend h5;
			font-weight: 400;
			line-height: 1.65;
			margin-bottom: 0;
			text-decoration: none !important;
			color: #5d5d5d;

			&:hover {
				background-color: #eeeeee;
			}

			&:first-child {
				border-radius: 6px 6px 0 0;
			}

			&:last-child {
				border-radius: 0 0 6px 6px;

			}
		}
	}


}