mixin s-thanks()
	// start s-thanks
	+b.SECTION.s-thanks.section#s-thanks&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Иван, спасибо, мы&nbsp;приняли вашу заявку!
				h3 Наш специалист перезвонит в&nbsp;указанное время и&nbsp;обсудит с&nbsp;вами заказ.
				h3.good-day Удачного дня!
				img.res-i(src="img/@2x/thanks-1.png")
	// end s-thanks

mixin s-thanks2()
	// start s-thanks2
	+b.SECTION.s-thanks.section#s-thanks&attributes(attributes)
		.container
			+b.section-title.text-center.s-thanks2
				h2 Иван, спасибо, мы&nbsp;приняли вашу заявку!
				h3 В&nbsp;ближайшее время мы&nbsp;отправим вам полный каталог и&nbsp;прайс на&nbsp;металлическую мебель. <span>Наш специалист перезвонит вам, чтобы обсудить с&nbsp;вами объем материала, стоимость и&nbsp;условия поставки.</span>
				h3.good-day Удачного дня!
				img.res-i(src="img/@2x/thanks-2.png")
	// end s-thanks2