 .soc-text {
 	width: rem(180);
 	font-size: 1rem;
 	line-height: 1.34;
 	// Text style for "С, ледите"
 	letter-spacing: rrem(0.72px);
 	margin-bottom: rem(15);
 }

 .soc {
 	margin: 0 rem(-5px);
 	display: flex;
 	margin-bottom: rem(35);

 	&__item {
 		text-decoration: none !important;
 		margin: 0 rem(5px);
 		vertical-align: middle;
 		@include mt;
 		display: block;
 		width: rem(37);
 		height: rem(37);
 		text-align: center;
 		vertical-align: middle;
 		line-height: rem(35);
 		border-radius: 50%;
 		color: #ffffff !important;

 		&--vk {
 			background-color: #4d76a1;
 			background-image: linear-gradient(to top, #20afe7 0%, #b4e6ff 100%);
 		}

 		&--instagram {
 			background-image: linear-gradient(to top, #ff415e 0%, #ff8fa4 100%);
 		}

 		&:hover {
 			// box-shadow: 0 0 33px 0px rgba(255, 83, 0, 0.16);
 			opacity: .9;
 		}

 	}

 	.icon {
 		font-size: rem(17);
 	}


 }


 .counter {
 	counter-reset: num;

 	&__item {
 		position: relative;

 		&::before {
 			content: counter(num);
 			counter-increment: num;
 		}
 	}
 }

 .logo {
 	color: #ffffff !important;
 	line-height: 1.44;

 	@include media-breakpoint-up(xl) {
 		max-width: rem(430);
 		margin-right: rem(65);
 	}

 	@include media-breakpoint-up(lg) {

 		max-width: rem(365);
 	}

 	@include media-breakpoint-up(md) {
 		margin-bottom: 0;

 	}

 	// margin-bottom: rem(20);

 	&__text {
 		max-width: rem(275);
 	}



 	img {
 		flex-shrink: 0;
 		// @extend .res-i;

 		@include media-breakpoint-up(xl) {

 			margin-right: rem(28);
 		}

 		@include media-breakpoint-up(md) {

 			margin-right: rem(18);
 		}

 		max-width: none;

 	}

 	a {
 		color: #ffffff !important;
 		text-decoration: none !important;

 		@include media-breakpoint-up(md) {

 			display: flex;
 			align-items: center;
 		}

 		// align-items: center;
 	}

 }

 .form-search {
 	display: none;

 	@include media-breakpoint-up(lg) {

 		max-width: rem(348);
 	}

 	position: relative;

 	input {
 		width: 100%;
 		border-radius: rem(3px);
 		border: 1px solid #e9e9e9;
 		font-size: rem(17px);
 		font-style: italic;
 		// font-family: $default-font2, serif;
 		padding: rem(8) rem(10);
 		padding-right: rem(40);
 	}

 	&__btn {
 		@include a-cent(y);
 		background: none;
 		color: #555555;
 		border: none;
 		right: rem(6);

 		.icon {

 			font-size: rem(18);
 		}
 	}
 }

 .contact-block {
 	@include media-breakpoint-up(md) {

 		// text-align: right;
 	}

 	font-weight: 600;

 	&__tel {
 		@extend .h4;
 		// @extend .link-body;
 		color: #fff !important;
 		text-decoration: none !important;
 		// font-family: $default-font2, serif;
 		font-weight: 400;
 	}

 	&__link {
 		text-decoration: none !important;
 		display: inline-block;
 		line-height: 1;
 		display: inline-block;

 		@include media-breakpoint-up(md) {

 			margin-bottom: rem(12);
 		}

 		border-bottom: 1px solid;
 		color: #ffffff !important;
 		letter-spacing: rem(2.24);
 		text-transform: uppercase;

 		&:hover {
 			border-color: transparent;
 		}
 	}

 	&__item {
 		// margin-left: rem(4);
 		margin-right: rem(4);
 		// width: rem(34);
 		// height: rem(34);
 		border: none;

 		.icon {
 			color: #ffffff;
 			font-size: rem(24);

 		}

 		display: inline-flex;
 		align-items: center;
 		justify-content: center;
 		border-radius: 50%;
 		// background-color: $primary;

 		&:hover {}

 		&--tel {
 			margin-left: rem(4);
 			margin-right: rem(4);
 			width: rem(34);
 			height: rem(34);
 			background-color: #95c131;

 			.icon {
 				color: #ffffff;
 				font-size: rem(16);
 			}

 			&:hover {
 				background-color: darken($color: #95c131, $amount: 10);

 			}
 		}

 		&--whatsapp {

 			// background-color: #25d366;
 			display: inline-block;
 			margin-bottom: rem(5);

 			img {
 				width: rem(24);
 			}

 			.icon {
 				// fill: #2CB742 !important;
 				// filter: drop-shadow(2px 0 0 #fff);


 				// path {
 				// 	&:nth-child(1) {
 				// 		fill: #2CB742 !important;
 				// 	}
 				// }
 			}

 			&:hover {
 				// background-color: darken($color: #25d366, $amount: 10);

 			}
 		}

 	}
 }

 .messanger-block {
 	display: flex;
 	margin-left: rem(-4);
 	margin-right: rem(-4);
 	justify-content: flex-end;

 }

 .page-head {
 	h1 {
 		@extend .h2;
 		margin-top: rem(37);
 	}

 	&__title-search {
 		@extend .h5;
 		padding-top: rem(45);
 		padding-bottom: rem(10);
 	}
 }

 .inner-page {
 	h1 {
 		@include media-breakpoint-down(sm) {
 			margin-top: 0;
 		}
 	}
 }