mixin header-block()
	// start header-block
	+b.header-block#header-block
		.container
			.row
				.col-md-auto
					h1 #[strong Верстаки] слесарные металлические напрямую от производителя
					p Для автосервисов, заводов, производственных компаний и&nbsp;частных лиц
					
					+e.btn.scroll-link(href="#") 

						span.btn-color 
						span.btn-text Подобрать верстак
							
				.col
					+e.img-wrap
						+pic2("header-img.png",'')
	// end header-block