mixin header-block()
	// start header-block
	+b.header-block#header-block
		.container
			.row
				.col-lg-6.col-md-8
					h1 Сейфы для денег, ценностей, документов и&nbsp;оружия&nbsp;&mdash; более  100&nbsp;вариантов
					p Самые  #[strong востребованные модели всегда в&nbsp;наличии], другие доставим  в&nbsp;течение недели
					.d-none.d-md-block
						+e.btn.scroll-link(href="#s-qwiz") Подобрать сейф по параметрам
				.col-lg-6.col-md-4
					+e.img-wrap
						.header-slider-js
							div: img.res-i(src="#"  data-lazy="img/@2x/header-img.png", alt="")
							div: img.res-i(src="#"  data-lazy="img/@2x/header-img.png", alt="")
							div: img.res-i(src="#"  data-lazy="img/@2x/header-img.png", alt="")
						+b.garanty.d-none.d-sm-block
							+icon('garanty')
							+e.title Гарантнии
							+e.text На сейф #[strong 5 лет],
								br
								| на замки #[strong 1 год]
						+e.price от 2.500 Р.
					.d-md-none
						+e.btn.scroll-link(href="#s-qwiz") Подобрать сейф по параметрам
		 
	// end header-block