mixin header-block()
	// start header-block
	+b.header-block#header-block
		.container
			.row
				.col-md-auto
					h1 #[strong Верстаки] слесарные металлические напрямую от производителя
					p Для автосервисов, заводов, производственных компаний и&nbsp;частных лиц
					
					+e.btn.scroll-link(href="#s-catalog") 

						span.btn-color 
						span.btn-text Подобрать верстак
							
				.col
					+e.img-wrap
						+e.mat 
							.text 
								a.link-modal(href="#modal-mat") Резиновый коврик
							+e.line-wrap
								img.line(src='img/svg/header-line-1.svg' alt="")
								.dot
									i.static-dot
							.mobile-line
						+e.guides 
							.text 
								a.link-modal(href="#modal-guides") Направляющие плавного скольжения
							+e.line-wrap
								img.line(src='img/svg/header-line-2.svg' alt="")
								.dot
									i.static-dot
								.dot-2
									i.static-dot-2
							.mobile-line
						+e.countertop 
							.text 
								a.link-modal(href="#countertop") Столешница
							+e.line-wrap
								img.line(src='img/svg/header-line-3.svg' alt="")
								.dot
									i.static-dot
							.mobile-line
						+e.display 
							.text 
								a.link-modal(href="#modal-display") Экран
							+e.line-wrap
								.dot
									i.static-dot
							.mobile-line

						+e.accessories 
							.text 
								a.link-modal(href="#modal-accessories") Аксессуары
							+e.line-wrap
								img.line(src='img/svg/header-line-4.svg' alt="")
								.dot
									i.static-dot
								.dot-2
									i.static-dot-2
							.mobile-line
						// анимации находятся в base
						+e.find-out.animated.bounce
							+e.DIV.find-out-wrap
								a(data-fancybox href="https://www.youtube.com/watch?v=I1_ip3epXv4&feature=emb_logo")
									+icon('play-button')
								p #[strong Узнайте за&nbsp;2&nbsp;минуты,] как наши верстаки помогают сократить производственные затраты до&nbsp;40%
								button.disable-button(type="button")
									img(src="img/svg/close.svg", alt="")

						+pic("header-img1.png",'','','576px')
	// end header-block