mixin header-block()
	// start header-block
	+b.header-block#header-block
		.container
			.row
				.col-md-auto
					h1 #[strong Верстаки] слесарные металлические напрямую от производителя
					p Для автосервисов, заводов, производственных компаний и&nbsp;частных лиц
					
					+e.btn.scroll-link(href="#s-catalog") 

						span.btn-color 
						span.btn-text Подобрать верстак
							
				.col
					+e.img-wrap
						+e.mat 
							.text 
								a(href="") Резиновый коврик
							+e.line-wrap
								img.line(src='img/svg/header-line-1.svg' alt="")
								.dot.pulse.animated
							.mobile-line
						+e.guides 
							.text 
								a(href="") Направляющие плавного скольжения
							+e.line-wrap
								img.line(src='img/svg/header-line-2.svg' alt="")
								.dot-1.pulse.animated
								.dot-2.pulse.animated
							.mobile-line
						+e.countertop 
							.text 
								a(href="") Столешница
							+e.line-wrap
								img.line(src='img/svg/header-line-3.svg' alt="")
								.dot.pulse.animated
							.mobile-line
						+e.display 
							.text 
								a(href="") Экран
							+e.line-wrap
								.dot.pulse.animated
							.mobile-line

						+e.accessories 
							.text 
								a(href="") Аксессуары
							+e.line-wrap
								img.line(src='img/svg/header-line-4.svg' alt="")
								.dot-1.pulse.animated
								.dot-2.pulse.animated
							.mobile-line

						+e.find-out.animated.bounce(data-fancybox href="https://www.youtube.com/watch?v=I1_ip3epXv4&feature=emb_logo")
							+e.DIV.find-out-wrap
								span
									+icon('play-button')
								p #[strong Узнайте за&nbsp;2&nbsp;минуты,] как наши верстаки помогают сократить производственные затраты до&nbsp;40%
						+pic("header-img1.png",'','','576px')
	// end header-block