.header-block {
	display: block;

	@include media-breakpoint-up(xl) {

		padding-top: rem(57);
	}

	@media (min-width: 1200px) and (max-width: 1439.98px) {
		padding-top: 0;

		h1 {
			font-size: 2.6rem;
			margin-bottom: 1rem;
		}

		&__img-wrap {
			margin-left: rem(-150 / 10);
			margin-right: rem(-202 / 10);
			padding-left: rem(80);
		}

		p {
			margin-bottom: 1rem;
		}
	}

	padding-top: rem(10);
	// padding-bottom: rem(35);
	color: #ffffff;

	h1 {
		line-height: 1.16;
		max-width: rem(470);

		@include media-breakpoint-up(md) {

			margin-bottom: rem(35);
		}

		margin-bottom: rem(15);
		font-weight: normal;
	}

	p {
		@extend .h3;
		max-width: rem(340);
		line-height: 1.28;
		font-weight: normal;
		// letter-spacing: rem(0.5px);

		margin-bottom: rem(30);

		@include media-breakpoint-up(md) {
			margin-bottom: rem(52);

			margin-left: rem(23);
		}
	}

	&__btn {
		@extend .btn-blue;
		@include mt;
		// display: block;

		@include media-breakpoint-up(md) {
			max-width: rem(312);
		}

		max-width: rem(240);

		@include media-breakpoint-up(md) {
			margin-left: 0;
		}

		margin-left: auto;
		margin-right: auto;

		@include media-breakpoint-up(md) {

			margin-bottom: rem(112);
		}

		&:hover {
			// transform: translateY(#{rem(-5)});
		}

		&:active,
		&:focus {
			transform: translateY(0);

		}
	}

	&__price {
		text-align: center;
		@extend .h5;
		z-index: 10;
		position: relative;
		letter-spacing: rem(0.4px);
		line-height: 1.4;

		border-radius: $border-radius-lg;
		background-color: #ffffff;

		@include media-breakpoint-up(md) {

			position: absolute;

			top: rem(290);
			left: 0;
			margin-left: 0;
			margin-top: 0;
		}

		margin-top: rem(-20);

		display: inline-block;
		margin-left: 15px;
		padding: rem(12) rem(19);
		font-weight: 600;
	}

	&__img-wrap {
		@include media-breakpoint-down(xs){
			margin-left: auto;
			margin-right: auto;
			max-width: rem(320);
			position: relative;
		}
		@include media-breakpoint-down(md) {
			margin-top: rem(115);
		}
		@include media-breakpoint-up(md) {

			position: absolute;
			left: 0;
			bottom: 0;

			margin-left: rem(-150);
			margin-right: rem(-202);
		}

		@include media-breakpoint-up(xl) {

			margin-left: rem(-60);
		}

		picture {
			// width: rem(877px);
		}
	}

	&__find-out-wrap {
		position: relative;
	}
	.hidden {
		bottom: 100%;

	}
	&__find-out {
		@include media-breakpoint-down(sm) {
			display: none;
		}
		box-shadow: 0 0 2.3rem 1.2rem rgba(192, 192, 192, 0.11);
		display: flex;
		z-index: 5;
		position: fixed;
		font-weight: 400;
		bottom: 0%;
		right: 0%;
		@include mt;
		@include media-breakpoint-up(xl){
			bottom: 18.5%;
			right: 11.5%;
		}
		padding: rem(31) rem(22) rem(25) rem(21);
		background-color: #fdfeff;
		border-radius: rem(6);
		color: #181c2c;
		max-width: rem(360);
		text-decoration: none !important;
		&:hover {
			color: #181c2c;
		}
		p {
			font-size: rem(18) !important;
			margin: 0 !important;
		}
		a {
			flex-shrink: 0;
			width: rem(69);
			height: rem(69);
			background-color: #f2f2f2;
			border-radius: 50%;
			position: relative;
			margin-right: rem(20);
		}
		.icon {
			@include a-cent;
			fill: url(#primary-gradient);
		}
		svg {
			font-size: rem(22);
		}
		.disable-button {
			background-color: transparent;
			border: none;
			position: absolute;
			right: rem(-15);
			top: rem(-25);
		}
	}


	&__find-out-wrap {
		display: flex;
		align-items: center;
		position: relative;
	}

	&__line-wrap {
		position: relative;
	}
	&__mat, &__guides, &__countertop, &__display, &__accessories, .dot, .dot-1, .dot-2, .line, .mobile-line{
		position: absolute;
		z-index: 1;
	}
	.text {
		position: relative;
		z-index: 2;
		line-height: 1.25;
		max-width: rem(120);
		@include media-breakpoint-up(md){
			max-width: rem(200);

		}
		display: inline-block;
		font-size: rem(16);
		@include media-breakpoint-up(lg){
			font-size: rem(20);
		}

		a {
			border-bottom: 1px dashed #fff;
			color: #ffffff;
			@include mt;
			&:hover {
				border-bottom: 1px dashed transparent;
				text-decoration: none;
			}
		}
	}

	.line, .dot-2 {
		display: none;
		@include media-breakpoint-up(md) {
			display: block;
		}
	}
	.mobile-line {
		display: block;
		width: 1px;
		background-color: #fff;
		@include media-breakpoint-up(md) {
			display: none;
		}
	}

	// согласен, .dot-1 лишний
	.dot, .dot-1, .dot-2 {
		// border: 2px solid $accent;
		// border-radius: 50%;
		@include media-breakpoint-up(sm){
			width: rem(23);
			height: rem(23);
		}
		&::before {
			content: '';
			// @include a-cent;
			position: absolute;
			left: 50%;
			top: 50%;
			@include media-breakpoint-up(sm) {
				margin-left: rem(-8 / 2);
				margin-top: rem(-8 / 2);
				width: rem(8);
				height: rem(8);
			}
			margin-left: rem(-6 / 2);
			margin-top: rem(-6 / 2);
			width: rem(6);
			height: rem(6);
			background-color: #fff;
			border-radius: 50%;
		}
		&:after {
			content: '';
			border-radius: 50%;
			border: 2px solid $accent;
			position: absolute;
			left: 50%;
			top: 50%;
			width: rem(17);
			height: rem(17);
			margin-left: rem(-17 / 2);
			margin-top: rem(-17 / 2);
			@include media-breakpoint-up(sm) {
				width: rem(23);
				height: rem(23);
				margin-left: rem(-23 / 2);
				margin-top: rem(-23 / 2);
			}
		}
	}

	// Резиновый коврик
	&__mat {
		top: 6%;
		left: -1%;
		@include media-breakpoint-up(sm){
		top: 45%;
		left: 7%;
		}
		@media (min-width: 1200px) and (max-width: 1439.98px) {
			top: 33%;
			left: 10%;
		}
		@include media-breakpoint-up(md){
		top: 30%;
		left: 5%;
		}
		@include media-breakpoint-up(lg){
		left: 7.5%;
		top: 39%;
		}

		.line {
			top: rem(-40);
			left: -20%;
		}
		.text {
			max-width: rem(120) !important;
		}
		.dot {
			top: rem(100);
			right: rem(88);
			@include media-breakpoint-up(sm){
				top: rem(80);
				right: rem(54);
			}
			@include media-breakpoint-up(md){
				top: rem(100);
				right: rem(13);
			}
			@include media-breakpoint-up(lg){
				top: rem(82);
				right: rem(28);
			}
		}
		.mobile-line {
			@include media-breakpoint-up(sm){
				height: rem(80);
				left: rem(55);
				top: rem(35);
			}
			height: rem(70);
			left: rem(33);
			top: rem(55);
		}
	}

	// Направляющие плавного скольжения
	&__guides {
		@media (min-width: 1200px) and (max-width: 1439.98px) {
			left: 20%;
		}
		top: -24%;
		left: 0%;
		@include media-breakpoint-up(sm){
		top: 25%;
		left: 8%;
		}

		@include media-breakpoint-up(md){
			top: 74.5%;
			left: 10.5%;
		}
		@include media-breakpoint-up(lg){
			top: 76.5%;
			left: 12%;
		}
		.line {
			top: rem(-110);
			left: rem(-70);
		}
		.dot-1 {
			@include media-breakpoint-up(sm){
				top: rem(210);
				right: rem(-1.5);

			}
			right: rem(9.5);
			top: rem(180);
			
			@include media-breakpoint-up(md){
				right: rem(255);
				top: rem(-120);
			}
		}
		.dot-2 {
			@include media-breakpoint-up(lg){

				right: rem(98);
				top: rem(-120);
			}
			right: rem(70);
			top: rem(-125);
		}
		.mobile-line {
			@include media-breakpoint-up(sm){
			height: rem(225);
			}
			height: rem(180);
			left: rem(110);
			top: rem(40);
		}

	}

	// Столешница
	&__countertop {
		@media (min-width: 1200px) and (max-width: 1439.98px) {
			top: 40%;
		}
		@include media-breakpoint-up(sm){
			top: 40%;
			left: 35%;

		}
		top: -17%;
		left: 42.5%;
		@include media-breakpoint-up(md){
			top: 38%;
			left: 30%;
		}

		@include media-breakpoint-up(lg){

			top: 44.5%;
			left: 35%;
		}
		.line {
			@include media-breakpoint-up(lg){

				right: rem(20);
			}
			top: rem(-15);
			right: rem(0);
		}
		.dot {
			right: rem(50);
			top: rem(180);
			@include media-breakpoint-up(sm){
				top: rem(120);
				right: rem(38.5);

			}
			@include media-breakpoint-up(md){
				right: rem(-10);
				top: rem(90);
			}
			@include media-breakpoint-up(lg){
				top: rem(75);
				right: rem(10);

			}
		}
		.mobile-line {
			@include media-breakpoint-up(sm){
			height: rem(100);
			}
			height: rem(150);
			left: rem(35);
			top: rem(35);
		}
	}

	// Экран
	&__display {
		top: 0%;
		left: 59%;
		@include media-breakpoint-up(sm){
			top: 30%;
		}
		@include media-breakpoint-up(md) {
			top: 26%;
		}
		@media (min-width: 1200px) and (max-width: 1439.98px) {
			left: 60%;
		}
		.dot {
				top: rem(40);
				left: rem(22);
				@include media-breakpoint-up (sm){
					top: rem(40);
					left: rem(10);
				}
			@include media-breakpoint-up(md){
				left: rem(-35);
				top: rem(-25);
			}
		}
		.mobile-line {
			@include media-breakpoint-up (sm) {
			height: rem(25);

			}
			height: rem(16);
			left: rem(20);
			top: rem(30);
		}

	}

	// Аксессуары
	&__accessories {
		right: 0%;
		top: -31%;
		@include media-breakpoint-up(sm){
			right: 8%;
			top: 9%;
		}
		@include media-breakpoint-up(md){
			right: 20%;
			top: 40%;
		}
		@include media-breakpoint-up(lg){
			right: 12%;
		}
		
		.line {
			left: rem(-20);
			top: rem(-180);
			@include media-breakpoint-up(lg){
				top: rem(-200);

			}
			@include media-breakpoint-down(lg){
				width: 85%;
			}
		}
		.dot-1 {
			top: rem(100);
			left: rem(40);
			@include media-breakpoint-up(sm){
				left: rem(30);
			}
			@include media-breakpoint-up(md){
				top: rem(-180);
				left: rem(35);
			}
			@include media-breakpoint-up(lg){
				top: rem(-215);
				left: rem(48);
			}
		}
		.dot-2 {
			top: rem(23);
			left: rem(15);
			@include media-breakpoint-up(lg){
				top: rem(28);
				left: rem(20);
			}
		}
		.mobile-line {
			@include media-breakpoint-up(sm){}
			height: rem(75);
			top: rem(30);
			right: rem(40);
		}
	}
	// 
	@include media-breakpoint-up(xl) {}

	@include media-breakpoint-up(lg) {}

	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-up(xs) {}

	// 
	@include media-breakpoint-between(md, xl) {}

	// 
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}

	@include media-breakpoint-only(xl) {}

	// 
	@include media-breakpoint-down(xl) {}

	@include media-breakpoint-down(lg) {}

	@include media-breakpoint-down(md) {}

	@include media-breakpoint-down(sm) {}

	@include media-breakpoint-down(xs) {}
}

.garanty {
	text-align: center;
	@extend .h5;
	letter-spacing: rem(0.4px);
	line-height: 1.4;

	border-radius: $border-radius-lg;
	background-color: #ffffff;
	position: absolute;
	top: rem(5);

	@include media-breakpoint-up(lg) {

		width: rem(208);
		padding: rem(40) 0 rem(30);
		left: 0;
	}

	left: -20px;

	width: rem(178);
	padding: rem(20) 0 rem(20);

	.icon {
		font-size: rem(47);
		color: #0b4290;
		margin-bottom: rem(10);
	}

	&__title {
		color: #0a418f;
		margin-bottom: rem(5);
	}
}