extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug 
include ../blocks/s-catalog/_s-catalog.pug
include ../blocks/s-price/_s-price.pug
include ../blocks/s-advantages/_s-advantages.pug
include ../blocks/s-look/_s-look.pug
include ../blocks/s-our/_s-our.pug
include ../blocks/s-shipping/_s-shipping.pug
include ../blocks/s-shiping-and-payment/_s-shiping-and-payment.pug


block variables
	- let  mainPage= null
block title
	- let  title= 'Доставка и оплата'
	title= title

block description 
	meta(name="description", content= "" )

block keywords
	meta(name="Keywords", content= "" )
block pagecontent 
	//- +mob-mnu()
	+header()
		+top-line()
		+top-nav()
	.container
		+breadcrumb('Главная', title)

	+s-shiping-and-payment()(class="section-border ")
	+s-form-06()(class="section-border ")
	+footer()