extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug 
include ../blocks/s-catalog/_s-catalog.pug
include ../blocks/s-price/_s-price.pug
include ../blocks/s-advantages/_s-advantages.pug
include ../blocks/s-look/_s-look.pug
include ../blocks/s-our/_s-our.pug
include ../blocks/s-shipping/_s-shipping.pug
include ../blocks/s-thanks/_s-thanks.pug


block variables
	- let  mainPage= null
block title
	- let  title= 'Cпасибо'
	title= title
block description 
	meta(name="description", content= "" )

block keywords
	meta(name="Keywords", content= "" )
block pagecontent 
	//- +mob-mnu()
	+header()
		+top-line()
		+top-nav()
	.container
		.back-to-main
			a(href="") Вернуться на сайт

	+s-thanks2()(class="section-border ")
	//- +s-form()(class="section-border ")
	+footer()