.s-contact {
	font-weight: 500;
	padding-top: rem(0) !important;
	padding-bottom: rem(75) !important;

	@include media-breakpoint-up(lg) {
		padding-bottom: rem(130) !important;
	}

	iframe {
		border: none;
	}
	.section-title {
		padding-bottom: rem(21);
		@include media-breakpoint-up(md) {
			padding-bottom: rem(50);
		}
		@include media-breakpoint-down(md) {
			h1 {
				font-size: rem(24);
			}
		}
	}
	@include media-breakpoint-up(lg) {
		.mail {
			padding-left: rem(76);
		}
	}

	&__connection {
		padding-bottom: rem(20);
		@include media-breakpoint-up(md) {
			padding-bottom: rem(30);
		}
		h3 {
			margin-bottom: 0;
			@include media-breakpoint-up(md) {
				margin-bottom: rem(13);
			}
		}

		&-item {
			display: flex;
			.img-wrap {
				align-self: center;
			}

			svg {
				flex-shrink: 0;
				max-width: rem(32);
				max-height: rem(32);
			}

			.icon {
				fill: url(#primary-gradient);
			}

			ul {
				padding-top: rem(20);
				font-weight: 400;
				padding-left: rem(28);
				@include media-breakpoint-up(md) {
					padding-left: rem(25);
				}
				li {
					list-style: none;
					// padding-bottom: rem(5);
					letter-spacing: rem(0.6);
					font-size: rem(25);
					line-height: 1.33;
					margin-bottom: rem(3) !important;
					@include media-breakpoint-up(md) {
						font-size: rem(30);
					}

					a {
						color: $body-color;

						&:hover {
							text-decoration: none;
							color: #398bff;
						}

						&:active {
							color: #1c61c1;
						}
					}
				}
			}
		}
	}

	.ask-questin {
		box-shadow: 0 4px $h2-font-size rgba(154, 187, 206, 0.17);
		border-radius: 2px;
		padding: rem(35);
		max-width: rem(625);
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: center;
		margin-bottom: rem(50);

		@include media-breakpoint-up(xl) {
			margin-bottom: rem(105);
			padding: rem(45) rem(60) rem(39);
		}

		&__question {
			max-width: rem(213);
			flex-shrink: 0;

			h3 {
				line-height: 1.24;
				font-weight: 400;
				letter-spacing: rem(0.2);

				@include media-breakpoint-down(md) {
					padding-bottom: rem(28);
				}
			}
		}

		&__item {
			height: rem(70);
			// width: rem(150);

			width: rem(213);
			@include media-breakpoint-up(md) {
				height: rem(60);
			}
			// @include a-cent;
			display: flex;
			// margin-left: rem(10);
			// flex-grow: 1;
			align-items: center;
			justify-content: center;
			@include mt;
			color: #ffffff;
			border-radius: 2px;
			background-color: #f7f7f7;
			background-image: linear-gradient(-10deg, #0d64db 0%, #39b1ff 100%);
			margin-left: rem(16);
			position: relative;
			@include media-breakpoint-down(md) {
				margin-bottom: rem(20);
				margin-left: rem(15);
			}

			&:hover {
				border: 1px solid #398bff;
				border-radius: 2px;
				text-decoration: none;
			}

			&:active {
				box-shadow: inset 0 0 0 1px #0075ff;
			}

			.icon {
				color: #fff;
				font-size: rem(24);
			}

			span {
				padding-left: rem(10);
				@extend .h5;
				color: #fff;
				margin-bottom: 0;
			}

			&--whatsapp {
				background-color: transparent;
				margin: 0;

				@include media-breakpoint-down(sm) {
					// flex-basis: 100%;
					margin-left: 0;
					margin-right: 0;
				}
			}

			&__question {
				@include media-breakpoint-up(lg) {
					min-width: rem(216);
				}
			}
		}
	}

	// &__warehouse {
	// 	h2 {
	// 		letter-spacing: rem(0.66);
	// 		// line-height: 0.67;
	// 		padding-bottom: rem(13);
	// 	}

	// 	h5 {
	// 		letter-spacing: rem(0.4);
	// 		padding-bottom: rem(35);
	// 	}

	// 	img {
	// 		width: 100%;
	// 		padding-bottom: rem(60);

	// 		@include media-breakpoint-up(lg) {
	// 			padding-bottom: rem(110);
	// 		}
	// 	}
	// }

	.how-to-get,
	.how-to-get-salsk {
		margin-top: rem(29);
		@include media-breakpoint-up(md) {
			margin-top: rem(70);
		}
		h2 {
			font-size: rem(27);
			padding-bottom: rem(15);
			@include media-breakpoint-up(md) {
				font-size: rem(40);
				padding-bottom: rem(50);
			}
			font-weight: 400;
		}

		.map-wrap {
			position: relative;

			#map,
			#map-2,
			iframe {
				height: rem(315);
				@include media-breakpoint-up(md) {
					height: rem(578);
				}
				// width: 100%;
			}
		}

		&__contact-block {
			margin-bottom: rem(25);

			@include media-breakpoint-up(lg) {
				position: absolute;
				z-index: 4;
				top: 9%;
				left: rem(75);
				margin-bottom: 0;
			}

			a {
				color: $body-color;

				&:hover {
					text-decoration: none;
					color: #398bff;
				}

				&:active {
					color: #1c61c1;
				}
			}

			ul {
				max-width: rem(390);
				padding: rem(24) rem(16) rem(28);
				@include media-breakpoint-up(md) {
					padding: rem(51) rem(57) rem(65) rem(40);
				}
				background-color: #fff;
				box-shadow: 3px 2px rem(35) rgba(154, 187, 206, 0.17);
				border-radius: $border-radius-lg;

				li {
					position: relative;
					text-align: left;
					list-style: none;
					padding-left: rem(50);
					padding-bottom: rem(15);

					@include media-breakpoint-up(md) {
						padding-bottom: rem(37);
						padding-left: rem(45);
					}
					font-size: rem(18);

					&:nth-last-child(1) {
						padding-bottom: 0;
					}

					span {
						font-weight: 400;
						letter-spacing: rem(0.36);
					}

					svg {
						font-size: rem(24);
						position: absolute;
						left: 0;
						top: rem(6);
					}
					.icon {
						fill: url(#primary-gradient);
					}
				}
			}
		}
	}
	.how-to-get-salsk {
		margin-top: rem(68);
		@include media-breakpoint-up(md) {
			margin-top: rem(83);
		}
	}

	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-up(xs) {
	}

	//
	@include media-breakpoint-between(md, xl) {
	}

	//
	@include media-breakpoint-only(xs) {
	}
	@include media-breakpoint-only(sm) {
	}
	@include media-breakpoint-only(md) {
	}
	@include media-breakpoint-only(lg) {
	}
	@include media-breakpoint-only(xl) {
	}

	//
	@include media-breakpoint-down(xl) {
	}
	@include media-breakpoint-down(lg) {
	}
	@include media-breakpoint-down(md) {
	}
	@include media-breakpoint-down(sm) {
	}
	@include media-breakpoint-down(xs) {
	}
}
