.s-contact {
	padding-top: rem(55);
	font-weight: 500;
	padding-bottom: rem(85);

	iframe {
		border: none;
	}


	&__connection {
		padding-bottom: rem(30);

		&-item {
			display: flex;

			svg {
				flex-shrink: 0;
				max-width: rem(32);
				max-height: rem(32);
			}
			.icon {
				fill: url(#primary-gradient);
			}

			ul {
				padding-top: rem(20);
				padding-left: rem(30);

				li {
					list-style: none;
					// padding-bottom: rem(5);
					letter-spacing: rem(0.5);
					@extend h3;

					a {
						color: $body-color;

						&:hover {
							text-decoration: none;
							color: #398bff;
						}

						&:active {
							color: #1c61c1;
						}
					}
				}
			}
		}

		.img-wrap {
			align-self: center;
		}
	}

	.ask-questin {
		box-shadow: 0 rem(4) $h2-font-size rgba(154, 187, 206, 0.17);
		border-radius: 2px;
		padding: rem(35);
		max-width: rem(625);
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: center;

		@include media-breakpoint-up(xl) {
			padding: rem(37) rem(83) rem(39) rem(83);
		}

		margin-bottom: rem(65);

		&__question {
			max-width: rem(213);
			flex-shrink: 0;

			h4 {
				line-height: 1.36;
				letter-spacing: rem(0.44);

				@include media-breakpoint-down(sm) {
					padding-bottom: rem(10);
				}
			}
		}

		&__item {
			display: inline-block;
			height: rem(60);
			display: flex;
			flex-grow: 1;
			width: rem(188);
			align-items: center;
			justify-content: center;
			transition: .36s;
			// border: 1px solid #dfdfdf;
			color: #ffffff;
			border-radius: 2px;
			background-color: #f7f7f7;
			background-image: linear-gradient(-10deg, #0d64db 0%, #39b1ff 100%);
			margin-left: rem(16);
			position: relative;
			@include mt;
			@include media-breakpoint-down(md) {
				margin-bottom: rem(20);
				margin-left: rem(15);
			}

			&:hover {
				border: 1px solid #398bff;
				border-radius: 2px;
				text-decoration: none;
			}

			&:active {
				box-shadow: inset 0 0 0 1px #0075ff
			}

			.icon {
				color: #fff;
				font-size: rem(24);
			}

			span {
				padding-left: rem(7);
				@extend .h5;
				color: #fff;
				margin-bottom: 0;

			}


			&--whatsapp {
				background-color: transparent;
				margin: 0;

				// flex-shrink: 1;
				@include media-breakpoint-down(sm) {
					flex-basis: 100%;
					margin-left: 0;
					margin-right: 0;
				}
			}



			&--whatsapp {
				@include media-breakpoint-up(lg) {
					// margin-right: rem(20);
					// margin-left: rem(40);
				}
			}

			&__question {
				@include media-breakpoint-up(lg) {
					min-width: rem(216);
				}
			}
		}
	}

	&__warehouse {
		h2 {
			letter-spacing: rem(0.66);
			// line-height: 0.67;
			padding-bottom: rem(13);
		}

		h5 {
			letter-spacing: rem(0.4);
			padding-bottom: rem(35);
		}

		img {
			width: 100%;
			padding-bottom: rem(60);

			@include media-breakpoint-up(lg) {
				padding-bottom: rem(110);
			}
		}
	}

	.how-to-get, .how-to-get-salsk {
		margin-top: rem(90);

		h2 {
			@extend h2;
			padding-bottom: rem(40);
		}

		.map-wrap {
			position: relative;

			#map, 
			#map-2,
			iframe {

				height: rem(578);
				// width: 100%;
			}
		}

		&__contact-block {
			position: absolute;
			z-index: 4;

			@include media-breakpoint-down(md) {
				position: inherit;
				margin-bottom: rem(60);
			}

			@include media-breakpoint-up(lg) {
				top: 8%;
				left: rem(65);
			}



			a {
				color: $body-color;

				&:hover {
					text-decoration: none;
					color: #398bff;
				}

				&:active {
					color: #1c61c1;
				}
			}

			ul {
				max-width: rem(390);
				padding: rem(54) rem(45) rem(46) rem(33);
				background-color: #fff;
				box-shadow: 3px 2px rem(35) rgba(154, 187, 206, 0.17);
				border-radius: $border-radius-lg;

				li {
					position: relative;
					text-align: left;
					list-style: none;
					padding-left: rem(47);
					font-size: rem(18);
					padding-bottom: rem(38);

					&:nth-last-child(1) {
						padding-bottom: 0;
					}

					span {
						font-weight: 400;
						letter-spacing: rem(0.36);

					}

					svg {
						font-size: rem(24);
						position: absolute;
						left: 0;
						top: rem(6);
					}
					.icon {
						fill: url(#primary-gradient);
					}
				}
			}
		}
	}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

}