mixin s-contact()
	// start s-contact
	+b.s-contact.section.block-with-lazy#s-contact&attributes(attributes)
		.container
			+b.section-title.text-center
				h1 Контакты
			.row.justify-content-center
				.col-md-5
					+e.connection
						h4 Звоните:
						+e.connection-item
							.img-wrap
								+icon("telephone")
							ul
								li
									a(href="tel:8 (495) 266-60-73") 8 (495) 266-60-73
								li
									a(href="tel:8 (495) 266-60-73") 8 (495) 266-60-73
				.col-md-3
					+e.connection
						h4 Пишите:
						+e.connection-item
							.img-wrap
								+icon("envelope-shape")
								// img(src="img/svg/envelope-shape.svg" data-src="", alt="")
							ul
								li
									a(href="mailto:sitesite@mail.ru") sitesite@mail.ru
								li
									a(href="mailto:sitesite@yandex.ru") sitesite@yandex.ru
			+b.ask-questin
				+e.question
					h4 Задавайте вопросы, мы всегда на связи
				+e.item--whatsapp(href="#")
					+icon("whatsapp") 
					span WhatsApp

			+b.how-to-get.text-center
				h2 Наш офис в Москве
				.map-wrap
					+e.contact-block
						ul
							li 
								| Адрес: <br>
								span Москва, Котельники, <br> Дзержинское шоссе, 1
								+icon("maps-and-flags")
							li 
								| Работаем: <br>
								span пн-пт, с 9:00 до 18:00
								+icon("clock-circular-outline")
					.map-wrap#map
					<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
					script.
						ymaps.ready(function () {
						var myMap = new ymaps.Map('map', {
										center: [55.656666, 37.858806],
										zoom: 16
								}, {
										searchControlProvider: 'yandex#search'
								}),
 
								myPlacemark = new ymaps.Placemark(myMap.getCenter(), {
										hintContent: 'Собственный значок метки',
										balloonContent: 'Это красивая метка'
								}, {
										// Опции.
										// Необходимо указать данный тип макета.
										iconLayout: 'default#image',
										// Своё изображение иконки метки.
										iconImageHref: 'img/@2x/mark.png',
										// Размеры метки.
										iconImageSize: [185, 165],
										// Смещение левого верхнего угла иконки относительно
										// её "ножки" (точки привязки).
										iconImageOffset: [-95, -80]
								});

						myMap.geoObjects
								.add(myPlacemark);
						});
			+b.how-to-get-salsk.text-center
				h2 Производство в Сальске
				.map-wrap
					+e.contact-block
						ul
							li 
								| Адрес: <br>
								span Ростовская обл., Сальск, <br>ул. Дружбы, 14
								+icon("maps-and-flags")
							li 
								| Работаем: <br>
								span пн-пт, с 9:00 до 18:00
								+icon("clock-circular-outline")
					.map-wrap#map-2
					//- почитинь вторую карту 

					script.
						ymaps.ready(function () {
						var myMap = new ymaps.Map('map-2', {
										center: [46.470305, 41.497935],
										zoom: 16
								}, {
										searchControlProvider: 'yandex#search'
								}),
 
								myPlacemark = new ymaps.Placemark(myMap.getCenter(), {
										hintContent: 'Собственный значок метки',
										balloonContent: 'Это красивая метка'
								}, {
										// Опции.
										// Необходимо указать данный тип макета.
										iconLayout: 'default#image',
										// Своё изображение иконки метки.
										iconImageHref: 'img/@2x/mark.png',
										// Размеры метки.
										iconImageSize: [185, 165],
										// Смещение левого верхнего угла иконки относительно
										// её "ножки" (точки привязки).
										iconImageOffset: [-95, -80]
								});

						myMap.geoObjects
								.add(myPlacemark);
						});
	// end s-contact